<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> {{'SchwarzesBrett' | translate}} </ion-title>
  </ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="all-post">
      <ion-icon name="newspaper-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="fav-post">
      <ion-icon name="heart-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content class="deals-listing-content">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="fav_posts.length==0 && viewMode=='fav-post'">
    <div class="listing-item">
      <ion-row class="top-row">
        <ion-col class="logo-col">
          <app-aspect-ratio [ratio]="{w: 20, h: 10}">
            <img src="../../assets/icon/post.png" />
          </app-aspect-ratio>
        </ion-col>
      </ion-row>
      <ion-row class="middle-row">
        <ion-col class="info-col">
          <h4 style="text-align: center" class="item-name">
            {{'noLikedPostYet'|translate}}
          </h4>
        </ion-col>
      </ion-row>
    </div>
  </ng-container>
  <ng-container *ngIf="viewMode=='all-post'">
    <app-post *ngFor="let post of posts" [post]="post"></app-post>
  </ng-container>
  <ng-container *ngIf="viewMode=='fav-post'">
    <app-post *ngFor="let post of fav_posts" [post]="post"></app-post>
  </ng-container>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="presentPostEditModal()">
      <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-infinite-scroll
    *ngIf="viewMode=='all-post' && !refreshing"
    threshold="1%"
    (ionInfinite)="loadData($event)"
  >
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
