<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/walkthrough"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content">
  <h2 class="auth-title">
    {{'SignIn' | translate}}
    <br />
  </h2>
  <form [formGroup]="loginForm" (ngSubmit)="signInWithEmail()">
    <ion-list class="inputs-list" lines="full">
      <ion-item class="input-item">
        <ion-input
          type="email"
          placeholder="Email"
          formControlName="email"
          clearInput
          autocapitalize="off"
          inputmode="email"
        ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div
            class="error-message"
            *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)"
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-item class="input-item">
        <app-show-hide-password>
          <ion-input
            type="password"
            placeholder="{{'Password' | translate }}"
            formControlName="password"
          ></ion-input>
        </app-show-hide-password>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div
            class="error-message"
            *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)"
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <!--  <ion-item class="input-item">
        <ion-checkbox slot="start" item-left required formControlName="dataPolicyConfirm" color="primary"></ion-checkbox>
        <ion-label class="ion-text-wrap" slot="start" style="font-size:14px"><a (click)="openModal()">Datenschutz - Ich habe die <u>Datenschutzbedingungen</u></a> gelesen und stimme diesen zu.</ion-label>
      </ion-item> -->
    </ion-list>

    <ion-button
      class="login-btn"
      type="submit"
      expand="block"
      [disabled]="!loginForm.valid"
      >{{'LogIn' | translate}}</ion-button
    >
    <div class="error-container" *ngIf="submitError">
      <div class="error-message">
        <ion-icon name="information-circle-outline"></ion-icon>
        <span>{{ submitError }}</span>
      </div>
    </div>
    <ion-row class="other-auth-options-row">
      <ion-col>
        <ion-button
          class="more-btn"
          size="medium"
          fill="clear"
          color="danger"
          (click)="openLanguageChooser()"
        >
          <ion-button size="medium" color="danger">
            <ion-icon
              src="/assets/icon/custom-ion-icons/language.svg"
              size="large"
            ></ion-icon>
          </ion-button>

          <!-- <b>{{'Language' | translate}}</b> |  -->
          <p></p>
          &nbsp;&nbsp; {{'CurrentLang' | translate}}:&nbsp;
          <ion-text *ngIf="this.translate.currentLang == 'en'">
            English
          </ion-text>
          <ion-text *ngIf="this.translate.currentLang == 'de'">
            Deutsch
          </ion-text>
          <ion-text *ngIf="this.translate.currentLang == 'tk'">
            Türkçe
          </ion-text>
          <ion-text *ngIf="this.translate.currentLang == 'ku'">
            Kurdî
          </ion-text>
          <ion-text *ngIf="this.translate.currentLang == 'ar'"> عربى </ion-text>
          <ion-text *ngIf="this.translate.currentLang == 'pa'">
            الباشتو
          </ion-text>
          <ion-text *ngIf="this.translate.currentLang == 'ru'">
            русский
          </ion-text>
          <ion-text *ngIf="this.translate.currentLang == 'sq'">
            gjuha shqipe
          </ion-text>
          <ion-text *ngIf="this.translate.currentLang == 'fa'"> زبان </ion-text
          >&nbsp;
          <img
            display="block"
            width="auto"
            height="20"
            align-items:
            center
            [src]="this.flag"
          />
        </ion-button>
      </ion-col>

      <ion-button
        class="signup-btn"
        color="primary"
        size="medium"
        fill="clear"
        (click)="openResetPasswordForm()"
      >
        {{'resetPassword' | translate}}
      </ion-button>

      <ion-button
        class="signup-btn"
        color="primary"
        size="medium"
        fill="clear"
        [routerLink]="['/firebase/auth/sign-up']"
      >
        {{'SignUp' | translate}}
      </ion-button>
    </ion-row>
  </form>

  <div class="social-auth-options"></div>
</ion-content>
