@import "theme/mixins/ion-color";

// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-broad-margin);
  --page-background: var(--app-background-shade);

  --page-deal-code-height: 30px;
  --page-countdown-gutter: 3px;

  --page-distant-end-color: #ff0062;

  --page-deal-border-color: #32527C;

  --page-color: #ff0062;
}
.message-input {
  width: 100%;
  border: 1px solid var(--ion-color-medium);
  border-radius: 6px;
  background: #fff;
  resize: none;
  margin-top: 0px;
  --padding-start: 8px;
}

.message {
  padding: 10px !important;
  border-radius: 10px !important;
  margin-bottom: 4px !important;
  white-space: pre-wrap;
}

.my-message {
  background: var(--ion-color-tertiary);
  color: #fff;
}

.other-message {
  background: var(--ion-color-medium-shade);
  color: #fff;
}

.time {
  color: #dfdfdf;
  float: right;
  font-size: small;
}
.deals-listing-content {
  --background: var(--page-background);
}