<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button (click)="sendPostId()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'Notizen'| translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="deals-listing-content" #msgContainer>
  <!-- <ion-item *ngFor="let comment of comments | async">
    {{comment.author}}: {{comment.content}}
  </ion-item> -->
  <app-comment
    *ngFor="let comment of comments | async"
    [comment]="comment"
  ></app-comment>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-row class="ion-align-items-center">
      <ion-col size="10">
        <ion-textarea
          autoGrow="true"
          class="message-input"
          rows="1"
          maxLength="500"
          [(ngModel)]="newComment"
        >
        </ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button
          expand="block"
          fill="clear"
          color="primary"
          [disabled]="newComment === ''"
          class="msg-btn"
          (click)="sendComment()"
        >
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
