<ion-card>
  <ion-row class="wrapper">
    <ion-col size="2">
      <ion-avatar>
        <ion-img [src]="comment.authorAvatar"></ion-img>
      </ion-avatar>
    </ion-col>
    <ion-col>
      <ion-row class="post-info">
        <ion-col size="12">
          <span class="name">{{ comment.author }}</span>
          <span class="handle">
            - <ion-icon class="no-margin" name="create-outline"></ion-icon>
            {{ comment.createdAt.toMillis() | date: "dd.MM.yyyy" }}</span
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <p class="post-content" [innerHtml]="comment.content"></p>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="2" *ngIf="comment.authorId == uid">
      <ion-row
        ><ion-button (click)="presentCommentEditModal()"
          ><ion-icon name="pencil-outline"></ion-icon></ion-button
      ></ion-row>
      <ion-row>
        <ion-button (click)="presentAlertConfirm()"
          ><ion-icon name="trash-outline"></ion-icon
        ></ion-button>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-card>
