.post-info {
  font-size: 0.9em;
}

.name {
  font-weight: 600;
  font-size: 1.2em;
}

.handle {
  padding-left: 4px;
  color: var(--ion-color-medium);
}

.wrapper {
  border-bottom: 1px solid var(--ion-color-light);
}

.highlight {
  color: var(--ion-color-primary);
}

.preview-img {
  border: 1px solid var(--ion-color-light);
  border-radius: 10px;
}
ion-icon{
  font-size: 1.5em;
}
.no-margin{
margin: -2.5px;
font-size: 16px;
}
.post-content{
  margin: 0px;
  margin-bottom: 5px;
  color: var(--ion-color-dark-tint);
  font-size: 16px;
}