<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon size="large" name="close-outline"></ion-icon
      ></ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <!-- click to save post -->
      <ion-button (click)="updateComment()">
        <ion-icon size="large" name="checkmark-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-align-items-center">
    <ion-col size="2">
      <ion-avatar>
        <img [src]="userAvatar" />
      </ion-avatar>
    </ion-col>
    <ion-col size="10">
      <ion-textarea
        autoGrow="true"
        class="message-input"
        rows="1"
        maxLength="500"
        [(ngModel)]="content"
      >
      </ion-textarea>
    </ion-col>
  </ion-row>
</ion-content>
