<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>{{'Chat'|translate}}</ion-title> -->

    <ion-item color="primary">
      <ion-avatar>
        <img [src]="correspondentAvatar" />
      </ion-avatar>
      &nbsp;<ion-label>{{correspondentName}}</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content
  class="ion-padding"
  [scrollEvents]="true"
  (ionScroll)="scrollHandling($event)"
>
  <ion-grid>
    <ion-row *ngFor="let message of messages | async">
      <ion-col
        size="9"
        class="message"
        [offset]="message.myMsg ? 3 : 0"
        [ngClass]="{ 'my-message': message.myMsg, 'other-message': !message.myMsg }"
      >
        <!-- <b>{{ message.fromName }}</b><br /> -->
        <span>{{ message.msg }} </span>
        <div class="time ion-text-right">
          <br />{{ message.createdAt?.toMillis() | date:'short' }}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button
      size="small"
      [hidden]="bottomReached"
      (click)="this.content.scrollToBottom(1000)"
    >
      <ion-icon name="arrow-down-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-row class="ion-align-items-center">
      <ion-col size="10">
        <ion-textarea
          autoGrow="true"
          class="message-input"
          rows="1"
          maxLength="500"
          [(ngModel)]="newMsg"
        >
        </ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button
          expand="block"
          fill="clear"
          color="primary"
          [disabled]="newMsg === ''"
          class="msg-btn"
          (click)="sendMessage()"
        >
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
