.message-input {
  width: 100%;
  border: 1px solid var(--ion-color-medium);
  border-radius: 6px;
  background: #fff;
  resize: none;
  margin-top: 0px;
  --padding-start: 8px;
}

.message {
  padding: 10px !important;
  border-radius: 10px !important;
  margin-bottom: 4px !important;
  white-space: pre-wrap;
}

.my-message {
  background: var(--ion-color-secondary);
  color: #fff;
}

.other-message {
  background: var(--ion-color-medium-shade);
  color: #fff;
}

.time {
  color: #dfdfdf;
  float: right;
  font-size: small;
}
