<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'Chats' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="notifications-content deals-listing-content">
  <ion-item-divider
    class="notification-item"
    *ngFor="let chat of existingChats | async"
  >
    <ion-row
      class="notification-item-wrapper ion-activatable"
      [routerLink]="['/app/chat', chat.user.uid,chat.user.username?chat.user.username:chat.user['name_' + this.translate.currentLang],chat.user.avatar?chat.user.avatar:chat.user.icon]"
      (click)="this.chatService.markAsRead(chat.chat.id)"
    >
      <ion-ripple-effect></ion-ripple-effect>

      <ion-col size="2">
        <app-aspect-ratio *ngIf="chat.user.icon" [ratio]="{w: 1, h: 1}">
          <app-image-shell class="notification-image" [src]="chat.user.icon">
          </app-image-shell>
        </app-aspect-ratio>
        <app-aspect-ratio *ngIf="!chat.user.icon" [ratio]="{w: 1, h: 1}">
          <app-image-shell class="notification-image" [src]="chat.user.avatar">
          </app-image-shell>
        </app-aspect-ratio>
      </ion-col>
      <!-- if user is normal then show name of initiatives, if initiatives then show username of users -->
      <ion-col class="details-wrapper">
        <h2 *ngIf="userRole==='NORMALUSER'" class="details-name">
          {{chat.user["name_" + this.translate.currentLang]}}
        </h2>
        <h2 *ngIf="userRole==='INITIATIVE'" class="details-name">
          {{chat.user.username}}
        </h2>
        <!-- <h2 class="details-name">{{chat.user.uid}}</h2> -->
      </ion-col>
      <ion-row class="details-wrapper">
        <p class="details-description">
          {{chat.chat.lastMessageTimestamp?.toMillis() | date:'HH:mm'}}
        </p>
        <p class="details-description">
          {{chat.chat.lastMessageTimestamp?.toMillis() | date:'dd/M/yy'}}
        </p>
        <span style="text-align: center">
          <ion-badge color="danger" [hidden]="chat.chat.newMessages==0"
            >{{chat.chat.newMessages}}</ion-badge
          >
        </span>
      </ion-row>
      <!-- <ion-col class="details-wrapper">
        <p class="details-name">
          {{chat.chat.lastMessageTimestamp?.toMillis() | date:'short'}}
        </p>
      </ion-col>
      <ion-col size="1">
        <ion-badge color="danger" [hidden]="chat.chat.newMessages==0"
          >{{chat.chat.newMessages}}</ion-badge
        >
      </ion-col> -->
    </ion-row>
  </ion-item-divider>

  <ng-container *ngIf="(existingChats| async)==0">
    <div
      *ngIf="userRole==='NORMALUSER'"
      class="listing-item"
      (click)="this.contactList.open()"
    >
      <ion-row class="top-row">
        <ion-col class="logo-col">
          <app-aspect-ratio [ratio]="{w: 20, h: 10}">
            <img src="../../assets/icon/add-and-chat.png" />
          </app-aspect-ratio>
        </ion-col>
      </ion-row>
      <ion-row class="middle-row">
        <ion-col class="info-col">
          <h4 style="text-align: center" class="item-name">
            {{'normalUserNoExistingChat'|translate}}
          </h4>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="userRole==='INITIATIVE'" class="listing-item">
      <ion-row class="middle-row">
        <ion-col class="info-col">
          <h4 style="text-align: center" class="item-name">
            {{'initiativeNoExistingChat'|translate}}
          </h4>
        </ion-col>
      </ion-row>
    </div>
  </ng-container>
  <ion-fab
    vertical="bottom"
    horizontal="center"
    slot="fixed"
    *ngIf="userRole==='NORMALUSER'"
  >
    <ion-fab-button (click)="this.contactList.open()">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ionic-selectable
    #contactList
    searchPlaceholder="{{'Suche'| translate}}"
    [(ngModel)]="selected_page"
    [items]="allUsers"
    itemValueField="uid"
    itemTextField="name"
    [isMultiple]="false"
    [canSearch]="true"
    headerColor="secondary"
    searchFailText="{{'NoResult'|translate}}"
    (onClose)="onClose($event)"
    [hidden]="true"
  >
    <ng-template
      ionicSelectableItemTemplate
      let-selected_page="item"
      let-isPageSelected="isItemSelected"
    >
      {{selected_page["name_" + this.translate.currentLang]}} &nbsp; &nbsp;
      <img slot="end" class="poi-image" [src]="selected_page.imageURL" />
    </ng-template>
    <ng-template ionicSelectableTitleTemplate>
      {{"Kontakte" | translate}}
    </ng-template>
    <ng-template ionicSelectableCloseButtonTemplate>
      <ion-icon name="close-circle"></ion-icon>
    </ng-template>
  </ionic-selectable>
</ion-content>
