:host {
  --page-margin: var(--app-broad-margin);
  --page-background: var(--app-background-shade);

  --page-deal-code-height: 30px;
  --page-countdown-gutter: 3px;

  --page-distant-end-color: #ff0062;

  --page-deal-border-color: #32527C;

  --page-color: #ff0062;
}

.notifications-content {
  ion-item-divider {
    --background: var(--ion-color-light);
    --padding-start: var(--page-margin);
  }

  .notification-item {
    --padding-start: 0px;
    --inner-padding-end: 0px;

    padding: var(--page-margin);
    color: var(--ion-color-medium);
    box-shadow: inset 0 8px 2px -9px var(--ion-color-darkest);

    .notification-item-wrapper {
      --ion-grid-column-padding: 0px;

      width: 100%;
      align-items: center;
    }

    .details-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-left: var(--page-margin);

      .details-name {
        margin-top: 0px;
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.2px;
        color: var(--ion-color-secondary);
      }

      .details-description {
        font-size: 12px;
        font-weight: 200;
        color: var(--ion-color-medium-tint);
        margin: 0px;
      }
    }

    .date-wrapper {
      align-self: flex-start;

      .notification-date {
        margin: 0px;
        font-size: 12px;
        text-align: end;
      }
    }
  }
  .icons {
    font-size: 2rem;
  }
}
.notification-image {
  --image-shell-border-radius: 50%;
}
.poi-image {
  display: inline-block;
  max-width: 30%;
  height: auto;
  width: auto\9; /* ie8 */
}
.listing-item {
  &.ended {
    --page-deal-color: var(--page-expired-color);
    --page-deal-border-color: var(--page-expired-color);
    border-bottom-style: none;
  }
  &.imminent-end {
    --page-deal-color: var(--page-ends-soon-color);
    --page-deal-border-color: var(--page-distant-end-color);
  }
  &.ends-soon {
    --page-deal-color: var(--page-ends-soon-color);
    --page-deal-border-color: var(--page-ends-soon-color);
    border-bottom-style: none;
  }
  &.distant-end {
    --page-deal-color: var(--page-distant-end-color);
    --page-deal-border-color: var(--page-distant-end-color);
    border-bottom-style: none;
  }

  background-color: var(--ion-color-lightest);
  margin: var(--page-margin);
  border-radius: var(--app-fair-radius);
  box-shadow: 1px 1px 4px 1px var(--page-item-shadow-color);
  border-bottom-style: solid;
  border-bottom-width: calc((var(--page-margin) / 2) * 3);
  border-bottom-color: var(--page-deal-border-color);

  .top-row {
    --ion-grid-column-padding: 0px;

    border-bottom: 2px dashed rgba(var(--ion-color-dark-rgb), .1);
    padding: calc(var(--page-margin) / 2);
    justify-content: space-between;
    align-items: center;

    .logo-col {
      align-self: center;
    }

    .call-to-action-col {
      flex-grow: 0;

      .expired-cta {
        color: var(--page-expired-color);
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.8px;
      }

      .claim-button {
        --box-shadow: none;
        --border-radius: var(--app-fair-radius);

        margin: 0px;

        &:focus {
          outline: none;
        }

        .button-cta {
          display: block;
          line-height: 18px;
          font-size: 16px;
          font-weight: 600;
        }

        ion-icon {
          font-size: 18px;
        }
      }
    }
  }

 
  .middle-row {
    --ion-grid-column-padding: 0px;

    padding: calc(var(--page-margin) / 2);
    padding-bottom: var(--page-margin);

    .info-col {
      padding-right: calc(var(--page-margin) / 2);
    }

    .item-name {
      margin: 0px;
			margin-bottom: 5px;
      color: var(--ion-color-dark-tint);
      font-size: 16px;

      .name-anchor {
        display: block;
        text-decoration: none;
      }
    }
    .info-name{
      margin: 2px;
			margin-top: 0px;
      color: var(--ion-color-medium-tint);
      font-size: 8px;
    }

    .item-description {
      margin: 0px;
      color: var(--ion-color-dark-tint);
      font-size: 14px;
    }

    .bookmark-button {
      --padding-start: 5px;
      --padding-end: 5px;

      margin: 0px;
      font-size: 16px;
    }
  }

  .bottom-row {
    --ion-grid-column-padding: 0px;

    padding: 0px calc(var(--page-margin) / 2) calc(var(--page-margin) / 2);
    justify-content: space-between;

    .code-wrapper {
      max-width: fit-content;

      .code-cta {
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 5px;
        display: block;
      }

    }

    .time-left-wrapper {
      flex-shrink: 0;
      max-width: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;

      .expiration-cta {
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 5px;
        display: block;
        text-transform: uppercase;
        text-align: end;
      }

      &:not(.countdown-active) {
        .item-time-left {
          color: var(--page-deal-color);
          font-size: 14px;
          font-weight: 500;
          display: block;
          text-align: end;
        }
      }

      &.countdown-active {
        display: block;
        position: relative;

        .countdown-wrapper {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          // Set position absolute so that the parent doen't count the height of this element.
          position: absolute;
          right: 0px;

          app-countdown-timer.item-countdown {
            --countdown-time-margin: 0px;
            --countdown-time-padding: 0px;
            --countdown-inner-time-margin: var(--page-countdown-gutter) var(--page-countdown-gutter) 0px;
            --countdown-inner-time-padding: calc(var(--page-margin) / 2) calc(var(--page-margin) / 4);
            --countdown-fill-border: none;
            --countdown-fill-border-radius: var(--app-narrow-radius);
            --countdown-fill-background: var(--ion-color-lightest);
            --countdown-fill-shadow: 0px 0px 5px 0px var(--page-countdown-fill-shadow-color);
            --countdown-value-color: var(--ion-color-darkest);
            --countdown-unit-color: var(--ion-color-medium-shade);
            --countdown-time-flex-direction: column;

            font-weight: 500;
            font-size: 14px;
            margin-right: calc(var(--page-countdown-gutter) * -1);
          }
        }
      }
    }
  }
}
.deals-listing-content {
  --background:  var(--app-background-shade);
}
