<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="categories">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="infohub">
      <ion-icon name="information-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="chat" (click)="removeMessageBadge()">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-badge *ngIf="newMessageBadge" color="secondary" style="color: var(--ion-color-secondary);">-</ion-badge>
    </ion-tab-button>
    <ion-tab-button tab="favorites" (click)="removeFavoriteBadge()">
      <ion-icon name="star-outline"></ion-icon>
      <ion-badge *ngIf="notificationBadge" color="secondary" style="color: var(--ion-color-secondary);">-</ion-badge>
    </ion-tab-button>
    <ion-tab-button tab="maps">
      <ion-icon name="map-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="bulletin-board">
      <ion-icon name="megaphone-outline"></ion-icon>
      <ion-badge *ngIf="newPostNotificationBadge" color="secondary" style="color: var(--ion-color-secondary);">-</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
