<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div>
      <h2 class="page-name">{{name}}</h2>
    </div>
    <img id="img" [src]="imageURL" alt="image" />
    <div>
      <h3>{{'Address'|translate}}</h3>
      <p>{{address}}</p>
    </div>
    <div>
      <h3>{{'Description'|translate}}</h3>
      <p>{{description}}</p>
    </div>
    <div>
      <h3>Tickets</h3>
      <!-- ion-slide here -->
      <ion-slides pager="true">
        <ion-slide>
          <div class="slide">
            <!-- <img src="./slide-1.png"/> -->
            <h3>Welcome</h3>
            <p>
              The <b>ionic conference app</b> is a practical preview of the
              ionic framework in action, and a demonstration of proper code use.
            </p>
          </div>
        </ion-slide>

        <ion-slide>
          <!-- <img src="./slide-2.png"/> -->
          <div class="slide">
            <h2>What is Ionic?</h2>
            <p>
              <b>Ionic Framework</b> is an open source SDK that enables
              developers to build high quality mobile apps with web technologies
              like HTML, CSS, and JavaScript.
            </p>
          </div>
        </ion-slide>
        <ion-slide>
          <!-- <img src="./slide-3.png"/> -->
          <div class="slide">
            <h2>What is Appflow?</h2>
            <p>
              <b>Appflow</b> is a powerful set of services and features built on
              top of Ionic Framework that brings a totally new level of app
              development agility to mobile dev teams.
            </p>
          </div>
        </ion-slide>

        <ion-slide>
          <!-- <img src="./slide-4.png"/> -->
          <div class="slide">
            <h2>Ready to Play?</h2>
            <ion-button fill="clear"
              >Continue <ion-icon slot="end" name="arrow-forward"></ion-icon
            ></ion-button>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
    <div>
      <h2>Link</h2>
      <a [href]="link">{{link}}</a>
    </div>
    <!-- <div>{{content}}</div> -->
    <!-- button, ion-row, ion-slide for tickets -->
  </div>
</ion-content>
