.poi-image {
  display: inline-block;
  max-width: 30%;
  height: auto;
  width: auto\9; /* ie8 */
}
.fav-icon {
  display: inline-block;
  max-width: 10%;
  height: auto;
  width: auto\9; /* ie8 */
}