<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>{{'Get Direction' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon size="large" name="close-circle-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Direction Form -->
  <form [formGroup]="directionForm" (ngSubmit)="sendRouteRequestToMap()">
    <ion-item>
      <ion-label position="floating">{{'Start' | translate}}</ion-label>
      <ionic-selectable
        item-content
        #inputStart
        [(ngModel)]="selected_start"
        [items]="pagesSelect"
        itemValueField="address"
        itemTextField="name"
        [isMultiple]="false"
        [canSearch]="true"
        headerColor="secondary"
        (onSearchFail)="onSearchFail($event)"
        formControlName="start"
        searchPlaceholder="{{'searchAddress'|translate}}"
        groupValueField="category_label"
        groupTextField="category_label"
      >
        <ng-template
          ionicSelectableItemTemplate
          let-selected_start="item"
          let-isPageSelected="isItemSelected"
        >
          {{selected_start.name}} &nbsp;&nbsp;
          <img
            slot="end"
            [ngClass]="selected_start.category!=='poi'?'fav-icon':'poi-image'"
            [src]="selected_start.image"
          />
        </ng-template>
        <ng-template ionicSelectableGroupTemplate let-group="group">
          <p style="font-size: 1rem">{{group.text}}</p>
        </ng-template>

        <ng-template ionicSelectableSearchFailTemplate>
          <div *ngIf="otherResults.length===0">{{'NoResult'|translate}}</div>
          <ion-list *ngIf="otherResults.length!==0">
            <ion-radio-group
              allow-empty-selection="true"
              (ionChange)="radioGroupChangeStart($event)"
            >
              <ion-item *ngFor="let place of otherResults">
                <ion-label>{{place.address}}</ion-label>
                <ion-radio slot="start" value="{{place.address}}"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ng-template>
        <ng-template ionicSelectableCloseButtonTemplate>
          <ion-icon name="close-circle"></ion-icon>
        </ng-template>
      </ionic-selectable>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{'Destination' | translate}}</ion-label>
      <ionic-selectable
        item-content
        #inputDestination
        [(ngModel)]="selected_dest"
        [items]="pagesSelect"
        itemValueField="address"
        itemTextField="name"
        [isMultiple]="false"
        [canSearch]="true"
        headerColor="secondary"
        (onSearchFail)="onSearchFail($event)"
        formControlName="destination"
        searchPlaceholder="{{'searchAddress'|translate}}"
        groupValueField="category_label"
        groupTextField="category_label"
      >
        <ng-template
          ionicSelectableItemTemplate
          let-selected_dest="item"
          let-isPageSelected="isItemSelected"
        >
          {{selected_dest.name}} &nbsp;&nbsp;
          <img
            slot="end"
            [ngClass]="selected_dest.category!=='poi'?'fav-icon':'poi-image'"
            [src]="selected_dest.image"
          />
        </ng-template>
        <ng-template ionicSelectableGroupTemplate let-group="group">
          <p style="font-size: 1rem">{{group.text}}</p>
        </ng-template>

        <ng-template ionicSelectableSearchFailTemplate>
          <div *ngIf="otherResults.length===0">{{'NoResult'|translate}}</div>
          <ion-list *ngIf="otherResults.length!==0">
            <ion-radio-group
              allow-empty-selection="true"
              (ionChange)="radioGroupChangeDest($event)"
            >
              <ion-item *ngFor="let place of otherResults">
                <ion-label>{{place.address}}</ion-label>
                <ion-radio slot="start" value="{{place.address}}"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ng-template>
        <ng-template ionicSelectableCloseButtonTemplate>
          <ion-icon name="close-circle"></ion-icon>
        </ng-template>
      </ionic-selectable>
    </ion-item>

    <ion-item id="datetime">
      <ion-select
        interface="popover"
        value="departure"
        (ionChange)="timeModeChanged()"
      >
        <ion-select-option value="departure"
          >{{'Abfahrt'|translate}}</ion-select-option
        >
        <ion-select-option value="arrival"
          >{{'Ankunft'|translate}}</ion-select-option
        >
      </ion-select>
      <ion-label></ion-label>
      <ion-datetime
        [(ngModel)]="myDate"
        [ngModelOptions]="{standalone: true}"
        (ionChange)="dateChanged()"
        cancel-text="X"
        display-format="DD
        MMM, HH:mm"
        picker-format="DD MMM, HH:mm"
        done-text="✓"
        mode="ios"
      ></ion-datetime>
    </ion-item>
    <ion-item id="travel-mode" [hidden]="directionForm.invalid">
      <ion-segment value="TRANSIT" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="TRANSIT">
          <ion-icon name="train-outline"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="WALKING">
          <ion-icon name="walk-outline"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="DRIVING">
          <ion-icon name="car-outline"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="BICYCLING">
          <ion-icon name="bicycle-outline"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </ion-item>
    <ion-button expand="full" type="submit" [disabled]="directionForm.invalid">
      {{'Get Direction' | translate}}
    </ion-button>
  </form>
</ion-content>
