<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button
        class="skip-walkthrough-button"
        fill="clear"
        (click)="skipWalkthrough()"
        >skip</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides class="walkthrough-slides" pager="true" [options]="slidesOptions">
    <ion-slide class="first-slide illustration-and-decoration-slide">
      <ion-row class="slide-inner-row">
        <ion-col class="illustration-col">
          <app-aspect-ratio [ratio]="{w:915, h:849}">
            <app-image-shell
              class="illustration-image"
              animation="spinner"
              [src]="'./assets/walkthrough/walkthrough-illustration-1.svg'"
              [alt]="'walkthrough'"
            ></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col class="decoration-col">
          <!-- http://jxnblk.com/paths/?d=M0%200%20V5%20H5%20C25%205%2025%2020%2045%2020%20S65%205%2085%205%20H90%20V0%20Z -->
          <svg
            class="vector-decoration"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            height="100px"
            width="100%"
            viewBox="0 0 90 20"
            style="enable-background: new 0 0 90 20"
            xml:space="preserve"
            preserveAspectRatio="none"
          >
            <path d="M0 0 V5 H5 C25 5 25 20 45 20 S65 5 85 5 H90 V0 Z" />
          </svg>
        </ion-col>
        <ion-col class="info-col">
          <div class="info-wrapper">
            <h3 class="info-title">Mobilitäts-App für Neuzugewanderte (MAZ)</h3>
            <p class="info-paragraph"></p>
          </div>

          <ion-button
            class="language-btn"
            size="medium"
            color="danger"
            expand="block"
            (click)="openLanguageChooser()"
          >
            <ion-icon
              src="/assets/icon/custom-ion-icons/language.svg"
              size="large"
            ></ion-icon>

            <!-- <b>{{'Language' | translate}}</b> |  -->

            &nbsp;&nbsp; {{'CurrentLang' | translate}}:&nbsp;

            <ion-text *ngIf="this.translate.currentLang == 'en'">
              English
            </ion-text>
            <ion-text *ngIf="this.translate.currentLang == 'de'">
              Deutsch
            </ion-text>
            <ion-text *ngIf="this.translate.currentLang == 'tk'">
              Türkçe
            </ion-text>
            <ion-text *ngIf="this.translate.currentLang == 'ku'">
              Kurdî
            </ion-text>
            <ion-text *ngIf="this.translate.currentLang == 'fa'">
              زبان </ion-text
            >&nbsp;
            <img class="flag" align-items: center [src]="this.flag" />
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-slide>

    <ion-slide class="second-slide illustration-and-decoration-slide">
      <ion-row class="slide-inner-row">
        <ion-col class="illustration-col">
          <app-aspect-ratio [ratio]="{w:1096, h:806}">
            <app-image-shell
              class="illustration-image"
              animation="spinner"
              [src]="'./assets/walkthrough/walkthrough-illustration-2.svg'"
              [alt]="'walkthrough'"
            ></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col class="decoration-col">
          <!-- http://jxnblk.com/paths/?d=M0%200%20L64%200%20L64%2024%20Q56%2024%2048%2016%20Q34%200%2022%2010%20Q10%2022%200%208%20Z -->
          <svg
            class="vector-decoration"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            height="100px"
            width="100%"
            viewBox="0 0 64 24"
            style="enable-background: new 0 0 64 24"
            xml:space="preserve"
            preserveAspectRatio="none"
          >
            <path d="M0 0 L64 0 L64 24 Q56 24 48 16 Q34 0 22 10 Q10 22 0 8 Z" />
          </svg>
        </ion-col>
        <ion-col class="info-col">
          <div class="info-wrapper">
            <h3 class="info-title">{{'FindInfo' | translate}}</h3>
            <p class="info-paragraph"></p>
          </div>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide class="third-slide illustration-and-decoration-slide">
      <ion-row class="slide-inner-row">
        <ion-col class="illustration-col">
          <app-aspect-ratio [ratio]="{w:918, h:703}">
            <app-image-shell
              class="illustration-image"
              animation="spinner"
              [src]="'./assets/walkthrough/walkthrough-illustration-3.svg'"
              [alt]="'walkthrough'"
            ></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col class="decoration-col">
          <!-- http://jxnblk.com/paths/?d=M0%200%20V5%20H5%20C19%205%2025%2014%2032%2014%20S45%205%2059%205%20H64%20V0%20Z -->
          <svg
            class="vector-decoration"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            height="100px"
            width="100%"
            viewBox="0 0 64 14"
            style="enable-background: new 0 0 64 24"
            xml:space="preserve"
            preserveAspectRatio="none"
          >
            <path d="M0 0 V5 H5 C19 5 25 14 32 14 S45 5 59 5 H64 V0 Z" />
          </svg>
        </ion-col>
        <ion-col class="info-col">
          <div class="info-wrapper">
            <h3 class="info-title">{{'FindImportant' | translate}}</h3>
            <p class="info-paragraph"></p>
          </div>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide class="last-slide illustration-and-decoration-slide">
      <ion-row class="slide-inner-row">
        <ion-col class="illustration-col">
          <app-aspect-ratio [ratio]="{w:924, h:819}">
            <app-image-shell
              class="illustration-image"
              animation="spinner"
              [src]="'./assets/walkthrough/walkthrough-illustration-4.svg'"
              [alt]="'walkthrough'"
            ></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col class="decoration-col">
          <!-- http://jxnblk.com/paths/?d=M0%200%20L64%200%20L64%2010%20Q56%2024%2046%2012%20Q34%200%2026%208%20Q10%2022%200%208%20Z -->
          <svg
            class="vector-decoration"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            height="100px"
            width="100%"
            viewBox="0 0 64 18"
            style="enable-background: new 0 0 64 24"
            xml:space="preserve"
            preserveAspectRatio="none"
          >
            <path d="M0 0 L64 0 L64 10 Q56 24 46 12 Q34 0 26 8 Q10 22 0 8 Z" />
          </svg>
        </ion-col>
        <ion-col class="info-col">
          <ion-row class="info-outer">
            <ion-col>
              <div class="info-wrapper">
                <h3 class="info-title">{{'LetsStart' | translate}}</h3>
                <p class="info-paragraph"></p>
              </div>
            </ion-col>
            <ion-col class="call-to-actions-wrapper">
              <ion-button
                class="get-started-button"
                expand="block"
                [routerLink]="['/firebase/auth/sign-up']"
                >{{'Register2' | translate}}</ion-button
              >
              <ion-row class="alt-call-to-action-row">
                <span class="cta-leading-text"
                  >{{'AccountBestehend' |translate}}</span
                >
                <ion-button
                  class="login-button"
                  fill="clear"
                  [routerLink]="['/auth/login']"
                >
                  {{'LogIn' |translate}}
                </ion-button>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-slide>
  </ion-slides>
</ion-content>
