<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="signup-content">
  <h2 class="auth-title">{{'Register' | translate}}</h2>
  <form [formGroup]="signupForm" (ngSubmit)="signUpWithEmail()">
    <ion-list class="inputs-list" lines="full">
      <ion-item class="input-item">
        <ion-input
          type="email"
          placeholder="Email"
          formControlName="email"
          clearInput
          autocapitalize="off"
          inputmode="email"
        ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div
            class="error-message"
            *ngIf="signupForm.get('email').hasError(validation.type) && (signupForm.get('email').dirty || signupForm.get('email').touched)"
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <ion-item class="input-item">
        <ion-input
          type="user"
          placeholder="{{'BenutzernamenEingeben' |translate}}"
          formControlName="user"
          clearInput
          autocapitalize="off"
        ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.user">
          <div
            class="error-message"
            *ngIf="signupForm.get('user').hasError(validation.type) && (signupForm.get('user').dirty || signupForm.get('user').touched)"
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <div formGroupName="matching_passwords">
        <ion-item class="input-item">
          <app-show-hide-password>
            <ion-input
              type="password"
              placeholder="{{'Password' | translate}}"
              formControlName="password"
            ></ion-input>
          </app-show-hide-password>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div
              class="error-message"
              *ngIf="signupForm.get('matching_passwords').get('password').hasError(validation.type) && (signupForm.get('matching_passwords').get('password').dirty || signupForm.get('matching_passwords').get('password').touched)"
            >
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>

        <ion-item class="input-item">
          <app-show-hide-password>
            <ion-input
              type="password"
              placeholder="{{'ConfirmPassword' | translate}}"
              formControlName="confirm_password"
            ></ion-input>
          </app-show-hide-password>
        </ion-item>
        <div class="error-container">
          <ng-container
            *ngFor="let validation of validation_messages.confirm_password"
          >
            <div
              class="error-message"
              *ngIf="signupForm.get('matching_passwords').get('confirm_password').hasError(validation.type) && (signupForm.get('matching_passwords').get('confirm_password').dirty || signupForm.get('matching_passwords').get('confirm_password').touched)"
            >
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="error-container">
        <ng-container
          *ngFor="let validation of validation_messages.matching_passwords"
        >
          <div
            class="error-message"
            *ngIf="signupForm.get('matching_passwords').hasError(validation.type) && (signupForm.get('matching_passwords').get('confirm_password').dirty || signupForm.get('matching_passwords').get('confirm_password').touched)"
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <ion-item class="input-item">
        <ion-checkbox
          slot="start"
          item-left
          required
          formControlName="dataPolicyConfirm"
          color="primary"
        ></ion-checkbox>
        <ion-label> </ion-label>
        <ion-label class="ion-text-wrap" slot="start" style="font-size: 14px"
          ><a (click)="openModal()"
            ><u>{{'Datenschutzbedingungen' | translate}}</u> - {{'DatenschutzConfirm' | translate}}</a
          ></ion-label
        >
      </ion-item>
    </ion-list>

    <ion-button
      class="signup-btn"
      type="submit"
      expand="block"
      [disabled]="!signupForm.valid"
      >{{'Register2' | translate}}</ion-button
    >
    <div class="error-container" *ngIf="submitError">
      <div class="error-message">
        <ion-icon name="information-circle-outline"></ion-icon>
        <span>{{ submitError }}</span>
      </div>
    </div>
    <ion-row class="other-auth-options-row">
      <ion-button
        class="login-btn"
        fill="clear"
        [routerLink]="['/firebase/auth/sign-in']"
      >
        {{'AlreadyAccount' | translate}}
      </ion-button>
    </ion-row>
  </form>
</ion-content>
