<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button backButton
        ><ion-icon name="arrow-back-outline" size="large"></ion-icon
      ></ion-button>
    </ion-buttons>
    <ion-title> {{'Information Hub'|translate}} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
      <ion-item *ngFor="let pdf of files" >
        <ion-icon *ngIf="pdf.filetype === 'pdf'" name="document-attach-outline" slot="start" ></ion-icon>
        <ion-icon *ngIf="pdf.filetype === 'link'" name="link-outline" slot="start" ></ion-icon>
        <ion-label class="ion-text-wrap">
          {{pdf.title}}
          <p>{{pdf.publisher}}</p>
        </ion-label>
        <ion-button *ngIf="pdf.filetype === 'pdf'" color="light" (click)="openPDF(pdf.adress)"><ion-icon name="cloud-download-outline"></ion-icon></ion-button>
        <ion-button *ngIf="pdf.filetype === 'link'" color="light" (click)="openPDF(pdf.adress)"><ion-icon name="arrow-forward-circle-outline"></ion-icon></ion-button>
      </ion-item>
  </ion-list>
</ion-content>