<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"><ion-menu-button></ion-menu-button> </ion-buttons>
    <ion-title> {{'Information Hub'|translate}} </ion-title>
  </ion-toolbar>
  <!-- <ion-card (click)="sendCardData(true)">
    <img src="./assets/icon/poiMap.png" />
    <div class="card-title">{{'Maps' |translate}}</div>
    <ion-button fill="outline" slot="end">View</ion-button>
  </ion-card> -->

  <div>
    <ion-toolbar>
      <ion-searchbar
        *ngIf="searchIntegration || searchBehoerde || searchMobility || searchFreetime"
        (ionInput)="handleInput($event, true)"
        placeholder="{{'Reisen' |translate}}"
      ></ion-searchbar>
      <ion-searchbar
        *ngIf="!searchMobility && !searchBehoerde && !searchFreetime && !searchIntegration"
        (ionInput)="handleInput($event, true)"
        placeholder="{{'Reisen' |translate}}"
      ></ion-searchbar>
    </ion-toolbar>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center">
        <ion-fab-button
          id="mobility"
          *ngIf="!searchMobility"
          color="medium"
          (click)="searchMobility=true; searchIntegration=false; searchBehoerde=false; searchFreetime=false"
          (click)="handleInputIcon()"
          >
          <ion-icon color="dark" src="/assets/icon/custom-ion-icons/mobility.svg"></ion-icon>
        </ion-fab-button>
        <ion-fab-button
          *ngIf="searchMobility"
          [color]="mobilityColor"
          (click)="searchMobility=false"
          (click)="handleInputIcon()"
          (click)="handleInput(event)"
          ><ion-icon color="dark" src="/assets/icon/custom-ion-icons/mobility.svg"></ion-icon
        ></ion-fab-button>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-fab-button
          id="integration"
          color="medium"
          *ngIf="!searchIntegration"
          (click)="searchIntegration=true; searchBehoerde=false; searchFreetime=false; searchMobility=false"
          (click)="handleInputIcon()"
          ><ion-icon color="dark" src="/assets/icon/custom-ion-icons/integration.svg"></ion-icon>
        </ion-fab-button>
        <ion-fab-button
          [color]="integrationColor"
          *ngIf="searchIntegration"
          (click)="searchIntegration=false"
          (click)="handleInputIcon()"
          (click)="handleInput(event)"
          ><ion-icon color="dark" src="/assets/icon/custom-ion-icons/integration.svg"></ion-icon>
        </ion-fab-button>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-fab-button
          id="freetime"
          *ngIf="!searchFreetime"
          color="medium"
          (click)="searchFreetime=true; searchIntegration=false; searchMobility=false; searchBehoerde=false;"
          (click)="handleInputIcon()"
          ><ion-icon color="dark" [name]="freetime"></ion-icon
        ></ion-fab-button>
        <ion-fab-button
          *ngIf="searchFreetime"
          [color]="freetimeColor"
          (click)="searchFreetime=false"
          (click)="handleInputIcon()"
          (click)="handleInput(event)"
          ><ion-icon color="dark" [name]="freetime"></ion-icon
        ></ion-fab-button>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-fab-button
          id="behoerde"
          *ngIf="!searchBehoerde"
          color="medium"
          (click)="searchBehoerde=true; searchFreetime=false; searchIntegration=false; searchMobility=false;"
          (click)="handleInputIcon()"
          ><ion-icon color="dark" [name]="behoerde"></ion-icon
        ></ion-fab-button>
        <ion-fab-button
          *ngIf="searchBehoerde"
          [color]="behoerdeColor"
          (click)="searchBehoerde=false"
          (click)="handleInputIcon()"
          (click)="handleInput(event)"
          ><ion-icon color="dark" [name]="behoerde"></ion-icon
        ></ion-fab-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <ion-chip
            *ngIf="!searchMobility && !searchBehoerde && !searchFreetime && !searchIntegration"
            color="medium"
          >
            <ion-icon name="filter-outline" color="dark"></ion-icon>
            <ion-label>{{'Kein Filter'|translate}}</ion-label>
          </ion-chip>
          <ion-chip *ngIf="searchMobility" [color]="mobilityColor">
            <ion-icon src="/assets/icon/custom-ion-icons/mobility.svg" color="dark"></ion-icon>
            <ion-label
              (click)="searchMobility=false"
              (click)="handleInputIcon()"
              (click)="handleInput(event)"
              >{{'Mobilitaet'|translate}}</ion-label
            >
            <ion-icon
              name="close-circle"
              color="dark"
              (click)="searchMobility=false"
              (click)="handleInputIcon()"
              (click)="handleInput(event)"
            ></ion-icon>
          </ion-chip>
          <ion-chip *ngIf="searchIntegration" [color]="integrationColor">
            <ion-icon src="/assets/icon/custom-ion-icons/integration.svg"></ion-icon>
            <ion-label
              (click)="searchIntegration=false"
              (click)="handleInputIcon()"
              (click)="handleInput(event)"
              >{{'Integration'|translate}}</ion-label
            >
            <ion-icon
              name="close-circle"
              color="dark"
              (click)="searchIntegration=false"
              (click)="handleInputIcon()"
              (click)="handleInput(event)"
            ></ion-icon>
          </ion-chip>
          <ion-chip *ngIf="searchFreetime" [color]="freetimeColor">
            <ion-icon [name]="freetime" color="dark"></ion-icon>
            <ion-label
              (click)="searchFreetime=false"
              (click)="handleInputIcon()"
              (click)="handleInput(event)"
              >{{'Freizeit'|translate}}</ion-label
            >
            <ion-icon
              name="close-circle"
              color="dark"
              (click)="searchFreetime=false"
              (click)="handleInputIcon()"
              (click)="handleInput(event)"
            ></ion-icon>
          </ion-chip>
          <ion-chip *ngIf="searchBehoerde" [color]="behoerdeColor">
            <ion-icon [name]="behoerde"color="dark"></ion-icon>
            <ion-label
              (click)="searchBehoerde=false"
              (click)="handleInputIcon()"
              (click)="handleInput(event)"
              >{{'Behoerde'|translate}}</ion-label
            >
            <ion-icon
              name="close-circle"
              color="dark"
              (click)="searchBehoerde=false"
              (click)="handleInputIcon()"
              (click)="handleInput(event)"
            ></ion-icon>
          </ion-chip>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-header>
<h5 class="welcome-text">{{'Anlaufstelle'|translate}}</h5>
<ion-content class="notifications-content">
  <div *ngIf="contentLoaded">
    <ion-item-divider class="notification-item" *ngFor="let page of pages">
      <ion-row
        class="notification-item-wrapper ion-activatable"
        [routerLink]="['/app/infohub/info/']+page.id"
      >
        <ion-ripple-effect></ion-ripple-effect>

        <ion-col size="2">
          <app-aspect-ratio [ratio]="{w: 1, h: 1}">
            <app-image-shell
              [src]="page.icon"
              [alt]="'user image'"
              class="notification-image"
            ></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col class="details-wrapper">
          <h2 class="details-name">{{ page.name }}</h2>
          <h2 class="details-description">{{ page.standort[1] }}</h2>
        </ion-col>
        <ion-col size="2"
          ><ion-icon
            name="arrow-forward-outline"
            class="icons"
            color="medium"
          ></ion-icon
        ></ion-col>
      </ion-row>
    </ion-item-divider>
  </div>
  <div *ngIf="!contentLoaded">
    <ion-list>
      <ion-item class="notification-item" *ngFor="let page of pages">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
