<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> {{'Information Hub'|translate}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="notifications-content">
  <ion-item class="notification-item" *ngFor="let page of pages">
    <ion-row
      class="notification-item-wrapper ion-activatable"
      [routerLink]="['/app/']+page.link"
    >
      <ion-ripple-effect></ion-ripple-effect>

      <ion-col size="2">
        <app-aspect-ratio [ratio]="{w: 1, h: 1}">
          <app-image-shell
            [src]="page.icon"
            [alt]="'user image'"
            class="notification-image"
          ></app-image-shell>
        </app-aspect-ratio>
      </ion-col>
      <ion-col class="details-wrapper">
        <h2 class="details-name" *ngIf="page.link === 'categories'" >{{'Info' | translate}}</h2>
        <h2 class="details-name" *ngIf="page.link === 'infohub/tickets'" >{{'Tickets' | translate}}</h2>
        <h2 class="details-name" *ngIf="page.link === 'infohub/infopdfs'">{{'AdditionalDocuments' | translate}}</h2>
        <h2 class="details-name" *ngIf="page.link === 'schnitzeljagd'">Schnitzeljagd</h2>
      </ion-col>
      <ion-col size="2"
        ><ion-icon name="arrow-forward-outline" class="icons"></ion-icon
      ></ion-col>
    </ion-row>
  </ion-item>
</ion-content>
