<ion-app dir="{{ textDir }}">
  <!-- when=false means that the split pane will never expand automatically -->
  <!-- For more info check https://ionicframework.com/docs/api/split-pane -->
  <ion-split-pane content-id="menu-content" when="false">
    <ion-menu content-id="menu-content" class="app-sidemenu">
      <ion-content>
        <ion-list>
          <ion-list-header>
            <ion-label>{{ "MainMenu" | translate }}</ion-label>
          </ion-list-header>
          <ion-menu-toggle autoHide="false" enable-menu-with-back-views="true">
            <ion-item [routerLink]="['app/categories']">
              <ion-icon slot="start" name="home-outline"></ion-icon>
              <ion-label>
                {{ "MainMenu" | translate }}
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="['app/infohub']">
              <ion-icon
                slot="start"
                name="information-circle-outline"
              ></ion-icon>
              <ion-label>
                {{ "Info" | translate }}
              </ion-label>
            </ion-item>
            <!-- <ion-item [routerLink]="['app/maps/favorites']">
              <ion-icon slot="start" name="star-outline"></ion-icon>
              <ion-label>
                {{ "Favorites" | translate }}
              </ion-label>
            </ion-item> -->
            <ion-item [routerLink]="['app/chat']">
              <ion-icon slot="start" name="chatbubbles-outline"></ion-icon>
              <ion-label>
                {{ "Chat" | translate }}
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="['app/maps/maps']">
              <ion-icon slot="start" name="map-outline"></ion-icon>
              <ion-label>
                {{ "Karte" | translate }}
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="['app/favorites']">
              <ion-icon slot="start" name="star"></ion-icon>
              <ion-label>
                {{ "Favorites" | translate }}
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="['app/categories/userSettings']">
              <ion-icon slot="start" name="cog-outline"></ion-icon>
              <ion-label>
                {{ "Settings" | translate }}
              </ion-label>
            </ion-item>
            <ion-item (click)="openLanguageChooser()">
              <ion-icon
                slot="start"
                src="/assets/icon/custom-ion-icons/language.svg"
              ></ion-icon>
              <ion-label style="display: flex; align-items: center">
                <!-- <b>{{'Language' | translate}}</b> |  -->
                <ion-text *ngIf="this.translate.currentLang == 'en'">
                  English
                </ion-text>
                <ion-text *ngIf="this.translate.currentLang == 'de'">
                  Deutsch
                </ion-text>
                <ion-text *ngIf="this.translate.currentLang == 'tk'">
                  Türkçe
                </ion-text>
                <ion-text *ngIf="this.translate.currentLang == 'ku'">
                  Kurdî
                </ion-text>
                <ion-text *ngIf="this.translate.currentLang == 'ar'">
                  عربى
                </ion-text>
                <ion-text *ngIf="this.translate.currentLang == 'pa'">
                  الباشتو
                </ion-text>
                <ion-text *ngIf="this.translate.currentLang == 'ru'">
                  русский
                </ion-text>
                <ion-text *ngIf="this.translate.currentLang == 'sq'">
                  gjuha shqipe
                </ion-text>
                <ion-text *ngIf="this.translate.currentLang == 'fa'">
                  زبان
                </ion-text>
                <img
                  style="padding-left: 10px"
                  display="block"
                  width="auto"
                  height="25"
                  align-items:
                  center
                  [src]="this.flag"
                />
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-list>
        <ion-footer>
          <ion-item (click)="openModal()">
            <ion-icon slot="start" name="reader-outline"></ion-icon>
            <ion-label> {{'Datenschutzbedingungen'| translate}} </ion-label>
          </ion-item>
          <ion-item>
            <ion-button
              class="sign-out-btn"
              expand="block"
              fill="outline"
              color="light"
              (click)="signOut()"
              ><ion-icon slot="start" name="log-out-outline"></ion-icon>
              <ion-label>{{ "SignOut" | translate }}</ion-label></ion-button
            >
          </ion-item>
        </ion-footer>
      </ion-list>
    </ion-menu>
    <!-- Main app content get's rendered in this router-outlet -->
    <ion-router-outlet id="menu-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
