<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"><ion-menu-button></ion-menu-button> </ion-buttons>
    <ion-title> {{'Favorites'|translate}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="deals-listing-content">
  <div *ngIf="contentLoaded">
    <ng-container *ngIf="favoriteRoutes?.length > 0">
      <div class="listing-item" *ngFor="let route of favoriteRoutes">
        <ion-row class="top-row">
          <ion-col class="logo-col">
            <ion-slides [options]="sliderOpts" zoom>
              <ion-slide>
                <div class="swiper-zoom-container">
                  <app-aspect-ratio [ratio]="{w: 128, h: 80}">
                    <app-image-shell
                      [src]="route.staticMapImage"
                      animation="spinner"
                    ></app-image-shell>
                  </app-aspect-ratio>
                </div>
              </ion-slide>
            </ion-slides>
          </ion-col>
        </ion-row>
        <ion-row class="middle-row">
          <ion-col class="info-col">
            <h4 class="item-name">
              <ion-icon
                class="no-margin"
                slot="start"
                name="time-outline"
              ></ion-icon>
              &nbsp; {{route.datePiped}} {{route.travelmode}}
            </h4>
            <p class="item-description">
              <ion-icon
                class="no-margin"
                slot="start"
                name="location-outline"
              ></ion-icon>
              &nbsp; {{route.from}}
            </p>
            <p class="item-description">
              <ion-icon
                class="no-margin"
                slot="start"
                name="flag-outline"
              ></ion-icon>
              &nbsp; {{route.to}}
            </p>
            <p class="info-name">
              <br />
              <ion-icon class="no-margin" name="create-outline"></ion-icon>
              &nbsp; {{route.createdTime}}
            </p>
          </ion-col>
          <ion-col size="2" *ngIf="route?.linkToAgency != 'nan'">
            <ion-button
              class="bookmark-button"
              expand="block"
              fill="clear"
              color="claim"
              (click)="openAgencyLink(route.linkToAgency)"
            >
              <ion-icon slot="icon-only" name="ticket-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="bottom-row">
          <ion-col class="code-wrapper">
            <span class="item-code">
              <ion-button (click)="deleteRoute(route)" color="secondary"
                ><ion-icon size="medium" name="trash"></ion-icon
              ></ion-button>
            </span>
          </ion-col>
          <ion-col class="time-left-wrapper" size="5">
            <ion-button
              (click)="this.environmentService.sendRouteDataToMap(route.from,route.to, route.dateOrig)"
              color="secondary"
              ><ion-icon size="medium" name="map"></ion-icon
            ></ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ng-container>
    <ng-container *ngIf="favoriteRoutes?.length < 1">
      <div class="listing-item">
        <ion-row class="top-row">
          <ion-col class="logo-col">
            <ion-slides [options]="sliderOpts" zoom>
              <ion-slide>
                <div class="swiper-zoom-container">
                  <app-aspect-ratio [ratio]="{w: 128, h: 80}">
                    <img
                      (click)="this.environmentService.sendRouteDataToMap(route.from,route.to)"
                      src="../../assets/icon/3619321.png"
                    />
                  </app-aspect-ratio>
                </div>
              </ion-slide>
            </ion-slides>
          </ion-col>
        </ion-row>
        <ion-row class="middle-row">
          <ion-col class="info-col">
            <h4 style="text-align: center" class="item-name">
              {{'AddNewFavorite'|translate}}
            </h4>
          </ion-col>
        </ion-row>
        <ion-row class="bottom-row">
          <ion-col class="code-wrapper"> </ion-col>
          <ion-col class="time-left-wrapper" size="5">
            <ion-button
              (click)="this.environmentService.sendRouteDataToMap(route.from,route.to)"
              color="secondary"
              ><ion-icon size="medium" name="map"></ion-icon
            ></ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ng-container>
  </div>
  <div *ngIf="!contentLoaded">
    <ng-container>
      <div class="listing-item">
        <ion-row class="top-row">
          <ion-col class="logo-col">
            <ion-slides [options]="sliderOpts" zoom>
              <ion-slide>
                <div class="swiper-zoom-container">
                  <app-aspect-ratio [ratio]="{w: 128, h: 80}">
                    <ion-skeleton-text
                      animated
                      style="height: 120%"
                    ></ion-skeleton-text>
                  </app-aspect-ratio>
                </div>
              </ion-slide>
            </ion-slides>
          </ion-col>
        </ion-row>
        <ion-row class="middle-row">
          <ion-col class="info-col">
            <h4 class="item-name">
              <ion-skeleton-text animated></ion-skeleton-text>
            </h4>
            <p class="item-description">
              &nbsp;<ion-skeleton-text animated></ion-skeleton-text>
            </p>
            <p class="item-description">
              &nbsp; <ion-skeleton-text animated></ion-skeleton-text>
            </p>
            <p class="info-name">
              <br />
              <ion-skeleton-text animated></ion-skeleton-text>
            </p>
          </ion-col>
          <ion-col size="2"> </ion-col>
        </ion-row>
        <ion-row class="bottom-row">
          <ion-col class="time-left-wrapper" size="5"> </ion-col>
        </ion-row>
      </div>
    </ng-container>
  </div>
</ion-content>
