<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon size="large" name="close-outline"></ion-icon
      ></ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="save()">
        <ion-icon name="save"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="editOption=='username'">
    <ion-col size="2">
      <ion-icon size="large" name="person-outline" color="primary"></ion-icon>
    </ion-col>
    <ion-col>
      <ion-input
        class="details-name"
        type="text"
        [(ngModel)]="data"
        *ngIf="data == null"
        placeholder="Enter Username"
        autofocus
      ></ion-input>
      <ion-input
        class="details-name"
        type="text"
        [(ngModel)]="data"
        *ngIf="data != null"
        value="{{data}}"
        placeholder="{{'BenutzernamenEingeben'| translate}}"
        autofocus
      ></ion-input>
    </ion-col>
  </ion-item>

  <ion-item *ngIf="editOption=='home'">
    <ion-col size="2">
      <ion-icon size="large" name="home" color="primary"></ion-icon>
    </ion-col>
    <ion-col>
      <ion-input
        ngxAutocomPlace
        class="details-name"
        type="text"
        [(ngModel)]="data"
        *ngIf="data == null"
        placeholder="{{'AdresseEingeben'| translate}}"
        autofocus
      ></ion-input>
      <ion-input
        ngxAutocomPlace
        (selectedPlace)="placeChangedHome($event)"
        class="details-name"
        type="text"
        [(ngModel)]="data"
        *ngIf="data != null"
        value="{{data}}"
        placeholder="{{'AdresseEingeben'| translate}}"
        autofocus
      ></ion-input>
    </ion-col>
  </ion-item>
</ion-content>
