@import "theme/mixins/scrollbars";

// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-narrow-margin);

  --page-categories-gutter: calc(var(--page-margin) / 4);

  --page-category-background: var(--ion-color-medium);
  --page-category-background-rgb: var(--ion-color-medium-rgb);
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.notification-item {
  --padding-start: 0px;
  --inner-padding-end: 0px;

  padding: var(--page-margin);
  box-shadow: inset 0 8px 2px -9px var(--ion-color-darkest);

  .notification-item-wrapper {
    --ion-grid-column-padding: 0px;

    width: 100%;
    align-items: center;

  }
  .details-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: var(--page-margin);

    .details-name {
      margin-top: 0px;
      margin-bottom: 5px;
      font-size: 16px;
      color: var(--ion-color-primary);
      // font-weight: 400;
      letter-spacing: 0.2px;
      display: flex;
      align-items: center;
    }
  }
}
.avatar-container{
  // height:20vh;
  .avatar{
    margin:auto;
    width: 200px;
    height: 200px;
    clip-path: circle();
  }

}
.edit-avatar{
  margin: auto;
}
.categories-list {
  --ion-grid-column-padding: var(--page-categories-gutter);

  padding: calc(var(--page-categories-gutter) * 3);
  height: 100%;
  align-content: flex-start;
  overflow: scroll;

  @include hide-scrollbars();

  .category-item {
    .category-anchor {
      height: 100%;
      text-decoration: none;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      .category-title {
        margin: auto;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 1px;
        padding: calc((var(--page-margin) / 4) * 3) var(--page-margin);
        color: var(--ion-color-lightest);
        background-color: var(--page-category-background);
        border-radius: var(--app-fair-radius);
      }
    }
  }
  .fade_rule {
    height: 2px;
    background-color: #e6e6e6;
    width: 160em;
    margin: 0 auto;
    background-image: linear-gradient(left, white 2%, #e6e6e6 50%, white 98%);
    background-image: -o-linear-gradient(
      left,
      white 2%,
      #e6e6e6 50%,
      white 98%
    );
    background-image: -moz-linear-gradient(
      left,
      white 2%,
      #e6e6e6 50%,
      white 98%
    );
    background-image: -webkit-linear-gradient(
      left,
      white 2%,
      #e6e6e6 50%,
      white 98%
    );
    background-image: -ms-linear-gradient(
      left,
      white 2%,
      #e6e6e6 50%,
      white 98%
    );
    background-image: -webkit-gradient(
      linear,
      left bottom,
      right bottom,
      color-stop(0.02, white),
      color-stop(0.5, #ff0062),
      color-stop(0.98, white)
    );
  }

  .travel-category {
    --page-category-background: #00afff;
    --page-category-background-rgb: 0, 175, 255;
  }

  .fashion-category {
    --page-category-background: #cb328f;
    --page-category-background-rgb: 203, 50, 143;
  }
  .align {
    float: right;
  }

  .food-category {
    --page-category-background: #ebbb00;
    --page-category-background-rgb: 235, 187, 0;
  }

  .deals-category {
    --page-category-background: #70df70;
    --page-category-background-rgb: 112, 223, 112;
  }

  .real-estate-category {
    --page-category-background: #d9453a;
    --page-category-background-rgb: 217, 69, 58;
  }
}
.notification-image {
  --image-shell-border-radius: 50%;
}
ion-input {
  --padding-start: 0;
}
#flag {
  padding-left: 10px;
}
