.content {
  margin: 0 5vw;
}

.content-text {
  text-align: justify;
}
#address {
  text-align: left;
}
img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.slide {
  margin-bottom: 2rem;
}
.ion-text-center {
  display: flex;
  justify-content: center;
}

.description-container {
  .description-title {
    display: inline;
  }
}
.fade_rule {
  height: 2px;
  background-color: #e6e6e6;
  width: 160em;
  margin: 0 auto;
  background-image: linear-gradient(left, white 2%, #e6e6e6 50%, white 98%);
  background-image: -o-linear-gradient(left, white 2%, #e6e6e6 50%, white 98%);
  background-image: -moz-linear-gradient(
    left,
    white 2%,
    #e6e6e6 50%,
    white 98%
  );
  background-image: -webkit-linear-gradient(
    left,
    white 2%,
    #e6e6e6 50%,
    white 98%
  );
  background-image: -ms-linear-gradient(left, white 2%, #e6e6e6 50%, white 98%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    right bottom,
    color-stop(0.02, white),
    color-stop(0.5, #ff0062),
    color-stop(0.98, white)
  );
}

.devicer {
  width: 20em;
  display: block;
  height: 5px;
  background-color: #4b4b4d;
  margin: 60px auto 0;
}

.icon {
  margin-left: 10px;
  position: relative;
  top: 5px;
  font-size: 1.5rem;
}
