<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button backButton
        ><ion-icon name="arrow-back-outline" size="large"></ion-icon
      ></ion-button>
    </ion-buttons>
    <ion-title>{{'Info'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div>
      <h2 class="page-name">{{name}}</h2>
    </div>
    <!-- Render slider, if more than one picture exists -->
    <div *ngIf="imageURL?.length > 1">
      <ion-slides pager="true">
        <ion-slide *ngFor="let image of imageURL">
          <div class="slide">
            <img id="img" [src]="image" />
          </div>
        </ion-slide>
      </ion-slides>
    </div>
    <!-- If only 1 Picture exists, dont render slider -->
    <div *ngIf="imageURL?.length == 1">
      <img id="img" [src]="imageURL" />
    </div>
    <div>
      <ion-row>
        <ion-col class="ion-text-center" *ngIf="displayMobilitaet">
          <ion-fab-button
          [color]="mobilityColor"
          size="small">
            <ion-icon color="dark" src="/assets/icon/custom-ion-icons/mobility.svg">
            </ion-icon>
          </ion-fab-button>
        </ion-col>
        <ion-col class="ion-text-center" *ngIf="displayIntegration">
          <ion-fab-button
          [color]="integrationColor"
          size="small">
            <ion-icon color="dark" src="/assets/icon/custom-ion-icons/integration.svg">
            </ion-icon>
          </ion-fab-button>
        </ion-col>
        <ion-col class="ion-text-center" *ngIf="displayFreizeit">
          <ion-fab-button
          [color]="freetimeColor"
          size="small">
            <ion-icon color="dark" [name]="freetime">
            </ion-icon>
          </ion-fab-button>
        </ion-col>
        <ion-col class="ion-text-center" *ngIf="displayBehoerde">
          <ion-fab-button
          [color]="behoerdeColor"
          size="small">
            <ion-icon color="dark" [name]="behoerde">
            </ion-icon>
          </ion-fab-button>
        </ion-col>
      </ion-row>
    </div>
    <div>
      <ion-row>
        <ion-col *ngIf="displayMail" class="ion-text-center">
          <a [href]="email">
            <ion-button color="medium"
              ><ion-icon color="dark" name="mail-outline"></ion-icon
            ></ion-button>
          </a>
        </ion-col>
        <ion-col class="ion-text-center" *ngIf="displayPhone">
          <a [href]="phoneNumber">
            <ion-button color="medium"
              ><ion-icon color="dark" name="call-outline"></ion-icon
            ></ion-button>
          </a>
        </ion-col>

        <ion-col class="ion-text-center">
          <a [href]="link">
            <ion-button color="medium"
              ><ion-icon color="dark" name="globe-outline"></ion-icon
            ></ion-button>
          </a>
        </ion-col>
        <ion-col class="ion-text-center" *ngIf="displayFacebook">
          <a [href]="facebook">
            <ion-button color="medium"
              ><ion-icon color="dark" name="logo-facebook"></ion-icon
            ></ion-button>
          </a>
        </ion-col>
        <!-- <ion-col class="ion-text-center">
          <ion-button color="warning" [routerLink]="['/app/chat']"
            ><ion-icon name="chatbubbles-outline"></ion-icon
          ></ion-button>
        </ion-col> -->
        <ion-col class="ion-text-center">
          <ion-button
            color="secondary"
            (click)="this.environmentService.sendRouteDataToMap('', address)"
          >
            <ion-icon color="dark" name="navigate-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <div class="fade_rule"></div>
      </ion-row>

      <h3>{{'Address'|translate}}</h3>

      <p class="content-text" id="address">{{address}}</p>
      <p><i>{{oeffnungszeiten}}</i></p>
    </div>
    <div (click)="expandItem(item)" *ngFor="let item of items">
      <div class="description-container">
        <h3 class="description-title">{{'Description'|translate}}</h3>

        <ion-icon
          class="icon"
          [hidden]="item.expanded"
          name="add-circle-outline"
        ></ion-icon>
        <ion-icon
          class="icon"
          [hidden]="!item.expanded"
          name="remove-circle-outline"
        ></ion-icon>
      </div>

      <app-expandable expandHeight="500px" [expanded]="item.expanded">
        <p *ngFor="let description of descriptions" class="content-text">
          {{description}}
        </p>
      </app-expandable>
    </div>
    <h3>{{'Kernangebote'|translate}}</h3>
    <div *ngFor="let activity of activities">
      <ul>
        <li>{{activity}}</li>
      </ul>
    </div>
    <!-- <div>{{content}}</div> -->
    <!-- button, ion-row, ion-slide for tickets -->
  </div>
</ion-content>
