@import "theme/mixins/ion-color";
:host {

  // Add custom colors to use with [color] property
  @include ion-color('mitfahrbank') {
    --ion-color-mitfahrbank: #03C2A7;
  }
  @include ion-color('mitfahrbankHintergrund') {
    --ion-color-mitfahrbankHintergrund: #E8BA26;
  }
}
google-map {
  display: block;
  width: 100%;
  height: 100%;
}

ion-card {
  overflow: scroll;
}
.my-text {
  font-size: 15em;
}

#geolocateMe {
  align-self: center;
  font-size: 20px;
  color: #3880ff;
}
#myAdress {
  align-self: center;
  font-size: 20px;
  color: #3880ff;
}

#direction-form {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: white;
}

.toolbar {
  height: 30px;
}

.poi-image {
  display: inline-block;
  max-width: 30%;
  height: auto;
  width: auto\9; /* ie8 */
}
.fav-icon {
  display: inline-block;
  max-width: 10%;
  height: auto;
  width: auto\9; /* ie8 */
}
.gm-style-cc {
  display: none;
}
.handle {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30px;

  .bar {
    width: 32px;
    height: 3px;
    background-color: var(--ion-color-dark);
    box-shadow: 0px 3px 3px var(--ion-color-light);
    border-radius: 5px;
  }
}
ion-select {
  padding: 0px;
}
ion-datetime {
  --placeholder-color: red;
}


