app-image-shell.category-cover {
  --image-shell-loading-background: rgba(
    var(--page-category-background-rgb),
    0.25
  );
  --image-shell-spinner-color: var(--ion-color-lightest);
}
app-image-shell.notification-image {
  --image-shell-border-radius: 50%;
}
