<ion-header>
  <ion-toolbar>
    <ion-title>{{'SendMessage' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal(false)">
        <ion-icon size="large" name="close-circle-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="notifications-content">
  <ion-item-divider class="notification-item">
    <ion-row class="notification-item-wrapper">
      <ion-col size="2">
        <app-aspect-ratio *ngIf="selectedPage.icon" [ratio]="{w: 1, h: 1}">
          <img class="notification-image" [src]="selectedPage.icon" />
        </app-aspect-ratio>
        <!-- <app-aspect-ratio *ngIf="!selectedPage.icon" [ratio]="{w: 1, h: 1}">
        <app-image-shell
          class="notification-image"
          src="../../../assets/icon/avatar_default.png"
        >
        </app-image-shell>
      </app-aspect-ratio> -->
      </ion-col>
      <ion-col class="details-wrapper">
        <h2 class="details-name">{{selectedPage.name}}</h2>
      </ion-col>
    </ion-row>
  </ion-item-divider>
  <ion-row class="ion-align-items-center">
    <ion-col size="10">
      <ion-textarea
        autoGrow="true"
        class="message-input"
        rows="1"
        maxLength="500"
        [(ngModel)]="message"
      >
      </ion-textarea>
    </ion-col>
    <!-- <ion-input [(ngModel)]="message" required></ion-input> -->
    <!-- </ion-row> -->
    <!-- <ion-row> -->
    <!-- <ion-col class="ion-text-center">
        <ion-button (click)="dismissModal()" color="danger">
          <ion-icon name="close-circle" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col> -->
    <ion-col size="2">
      <ion-button
        expand="block"
        color="success"
        class="msg-btn"
        (click)="addChatMessage(message, selectedPage.uid)"
      >
        <ion-icon name="send" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
    <!-- <ion-col class="ion-text-center"
        ><ion-button
          (click)="addChatMessage(message, selectedPage.uid)"
          color="success"
        >
          <ion-icon name="send-outline" slot="icon-only"></ion-icon> </ion-button
      ></ion-col> -->
  </ion-row>
  <ion-item-divider class="notification-item">
    <ion-row class="notification-item-wrapper">
      <ion-col class="details-wrapper">
        <h2 class="details-name">{{'MessageInfo' | translate}}</h2>
      </ion-col>
    </ion-row>
  </ion-item-divider>
</ion-content>
