.message-input {
  width: 100%;
  border: 1px solid var(--ion-color-medium);
  border-radius: 6px;
  background: #fff;
  resize: none;
  margin-top: 0px;
  --padding-start: 8px;
}
.notifications-content {
  ion-item-divider {
    --background: var(--ion-color-light);
    --padding-start: var(--page-margin);
  }

  .notification-item {
    --padding-start: 0px;
    --inner-padding-end: 0px;

    padding: var(--page-margin);
    color: var(--ion-color-medium);
    box-shadow: inset 0 8px 2px -9px var(--ion-color-darkest);

    .notification-item-wrapper {
      --ion-grid-column-padding: 0px;

      width: 100%;
      align-items: center;
    }

    .details-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-left: var(--page-margin);

      .details-name {
        margin-top: 0px;
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.2px;
        color: var(--ion-color-secondary);
      }

      .details-description {
        font-size: 12px;
        margin: 0px;
      }
    }

    .date-wrapper {
      align-self: flex-start;

      .notification-date {
        margin: 0px;
        font-size: 12px;
        text-align: end;
      }
    }
  }
  .icons {
    font-size: 2rem;
  }
  .notification-image {
    --image-shell-border-radius: 50%;
  }
}

.poi-image {
  display: inline-block;
  max-width: 30%;
  height: auto;
  width: auto\9; /* ie8 */
}
app-image-shell.notification-image {
  --image-shell-border-radius: 50%;
}
