<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>**VSN</ion-title>
  <div style="float: right; font-size: 40px; padding-right: 10px; display: inline-flex">
    <ion-icon (click)="dismissModal()" name="close-circle-outline"></ion-icon>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider color="primary">
      <ion-label>
        <ion-icon size="large" name="train-outline"></ion-icon> <ion-icon size="large" name="bus-outline"></ion-icon>
      </ion-label>
    </ion-item-divider>
    <ion-item>
      Busse im Stadt- und Regionalverkehr 
    </ion-item>
    <ion-item>
      Regionalbahnen
    </ion-item>
    <ion-item>
      etronom-Züge
    </ion-item>
    <ion-item>
      RegionalExpress-Züge
    </ion-item>
    <ion-item>
      NordWestBahnen
    </ion-item>
    <ion-item>
      cantus-Züge
    </ion-item>
    <ion-item>
      Anruf-Sammel-Taxen
    </ion-item>
    <ion-item>
      Anruf-Linien-Taxen (AST/ALT)
    </ion-item>
    <ion-item-divider color="primary">
      <ion-label>
        <ion-icon size="large" name="business-outline"></ion-icon>
      </ion-label>
    </ion-item-divider>
    <ion-item>
      Cantus
    </ion-item>
    <ion-item>
      Deutsche Bahn
    </ion-item>
    <ion-item>
      Göttinger Verkehrsbetriebe GmbH
    </ion-item>
    <ion-item>
      Hahne Reisen E.K.
    </ion-item>
    <ion-item>
      Ilmebahn GmbH
    </ion-item>
    <ion-item>
      Metronom
    </ion-item>
    <ion-item>
      NordWestBahn
    </ion-item>
    <ion-item>
      Pülm
    </ion-item>
    <ion-item>
      DB Südniedersachsenbus
    </ion-item>
    <ion-item>
      regiobus Uhlendorff
    </ion-item>
    <ion-item>
      Omnibusbetriebe Sallwey
    </ion-item>
    <ion-item>
      Scheithauer Reisen
    </ion-item>
    <ion-item>
      VS
    </ion-item>
    <ion-item>
      VHM
    </ion-item>
    <ion-item>
      weihrauch uhlendorff
    </ion-item>    
  </ion-list>
</ion-content>
