<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> {{'Settings' | translate}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row class="avatar-container">
      <img class="avatar" [src]="avatar" />
    </ion-row>
    <ion-row>
      <ion-item class="edit-avatar">
        <ion-fab-button>
          <label for="upload"
            ><ion-icon name="cloud-upload-outline" size="large"></ion-icon>
          </label>
          <input
            id="upload"
            type="file"
            style="display: none"
            accept="image/*"
            (change)="uploadImage($event.target.files)"
          />
        </ion-fab-button>

        <ion-fab-button>
          <label for="imageFile"
            ><ion-icon name="camera" size="large"></ion-icon>
          </label>
          <input
            id="imageFile"
            type="file"
            style="display: none"
            capture="user"
            accept="image/*"
            (change)="uploadImage($event.target.files)"
          />
        </ion-fab-button> 
        <ion-fab-button (click)="deleteImage()">
          <ion-icon name="trash" size="large">
        </ion-icon>
        </ion-fab-button>
        </ion-item
    ></ion-row>
  </ion-grid>
  <ion-item-divider class="notification-item">
    <ion-row
      class="notification-item-wrapper"
      (click)="presentModal('username')"
    >
      <ion-col size="1">
        <ion-icon size="large" name="person-outline" color="primary"></ion-icon>
      </ion-col>
      <ion-col class="details-wrapper">
        <!-- <ion-input
          class="details-name"
          type="text"
          [(ngModel)]="username"
          *ngIf="username == null"
          placeholder="Enter Username"
        ></ion-input>
        <ion-input
          class="details-name"
          type="text"
          [(ngModel)]="username"
          *ngIf="username != null"
          value="{{username}}"
          placeholder="Enter Username"
        ></ion-input> -->
        <ion-text class="details-name">{{username}}</ion-text>
      </ion-col>
      <ion-col size="2" class="details-wrapper">
        <ion-icon size="large" name="pencil-outline" color="primary"></ion-icon
      ></ion-col>
    </ion-row>
  </ion-item-divider>

  <ion-item-divider class="notification-item">
    <ion-row class="notification-item-wrapper" (click)="openLanguageChooser();">
      <ion-col size="1">
        <ion-icon 
        size="large"
        color="primary" src="/assets/icon/custom-ion-icons/language.svg"></ion-icon>
      </ion-col>
      <ion-col class="details-wrapper"
        ><ion-label class="details-name">
          <!-- <b>{{'Language' | translate}}</b> |  -->
          {{'CurrentLang' | translate}}:&nbsp;
          <ion-text *ngIf="this.translate.currentLang == 'en'">
            English
          </ion-text>
          <ion-text *ngIf="this.translate.currentLang == 'de'">
            Deutsch
          </ion-text>
          <ion-text *ngIf="this.translate.currentLang == 'tk'">
            Türkçe
          </ion-text>
          <ion-text *ngIf="this.translate.currentLang == 'ku'">
            Kurdî
          </ion-text>
          <ion-text *ngIf="this.translate.currentLang == 'ar'"> عربى </ion-text>
          <ion-text *ngIf="this.translate.currentLang == 'pa'">
            الباشتو
          </ion-text>
          <ion-text *ngIf="this.translate.currentLang == 'ru'">
            русский
          </ion-text>
          <ion-text *ngIf="this.translate.currentLang == 'sq'">
            gjuha shqipe
          </ion-text>
          <ion-text *ngIf="this.translate.currentLang == 'fa'"> زبان </ion-text>
          <img
            id="flag"
            display="block"
            width="auto"
            height="25"
            align-items:
            center
            [src]="this.flag"
          /> </ion-label
      ></ion-col>
      <ion-col size="2" class="details-wrapper">
        <ion-icon size="large" name="pencil-outline" color="primary"></ion-icon
      ></ion-col>
    </ion-row>
  </ion-item-divider>
  <!-- Input with clear button when there is a value -->

  <ion-item-divider class="notification-item">
    <ion-row class="notification-item-wrapper" (click)="presentModal('home')">
      <ion-col size="1">
        <ion-icon size="large" name="home" color="primary"></ion-icon
      ></ion-col>
      <ion-col class="details-wrapper">
        <!-- <ion-input
          ngxAutocomPlace
          class="details-name"
          type="text"
          [(ngModel)]="adress"
          *ngIf="adress == null"
          placeholder="{{'AdresseEingeben'| translate}}"
        ></ion-input>
        <ion-input
          class="details-name"
          ngxAutocomPlace
          (selectedPlace)="placeChangedHome($event)"
          type="text"
          [(ngModel)]="adress"
          *ngIf="adress != null"
          value="{{adress}}"
          placeholder="{{'AdresseEingeben'| translate}}"
        ></ion-input
      > -->
        <ion-text class="details-name">{{adress}}</ion-text>
      </ion-col>
      <ion-col size="2" class="details-wrapper">
        <ion-icon size="large" name="pencil-outline" color="primary"></ion-icon
      ></ion-col>
    </ion-row>
  </ion-item-divider>
  <ion-fab
    vertical="bottom"
    horizontal="center"
    slot="fixed"
  >
    <ion-fab-button (click)="deleteAccount()">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- <ion-list style="text-align: center">
    <ion-button (click)="openLanguageChooser();">
      <ion-icon name="language"></ion-icon>
    </ion-button>
    <ion-button (click)="changeUserName(); changeHomeAdress();presentToast();">
      <ion-icon name="save"></ion-icon>
    </ion-button>
  </ion-list> -->
</ion-content>
