<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button [hidden]="showDirectionPanel"></ion-menu-button>
    </ion-buttons>
    <ion-button
      slot="start"
      [hidden]="!showDirectionPanel"
      (click)="removeDirection()"
    >
      <ion-icon name="arrow-back-outline" size="large"></ion-icon>
    </ion-button>
    <ion-title>{{'Maps' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div id="direction-form">
    <div [hidden]="!isDisplay">
      <ion-item id="travel-mode" [hidden]="directionForm.invalid">
        <ion-segment
          [(ngModel)]="mode"
          (ionChange)="calculateAndDisplayRoute(false, 'none')"
        >
          <ion-segment-button value="TRANSIT">
            <ion-icon name="train-outline"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="WALKING">
            <ion-icon name="walk-outline"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="DRIVING">
            <ion-icon name="car-outline"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="BICYCLING">
            <ion-icon name="bicycle-outline"></ion-icon>
          </ion-segment-button>
        </ion-segment>
      </ion-item>

      <form
        [formGroup]="directionForm"
        (ngSubmit)="calculateAndDisplayRoute(false, 'none')"
      >
        <ion-item>
          <ion-icon
            id="geolocateMe"
            name="locate"
            slot="end"
            (click)="this.goToCurrentPosition();"
          ></ion-icon>
          <ion-icon
            id="myAdress"
            src="/assets/icon/custom-ion-icons/md-gps-house.svg"
            slot="end"
            (click)="applyHomeAdressStart()"
          ></ion-icon>

          <ion-label position="floating">{{'Start' | translate}}</ion-label>

          <ion-input
            type="text"
            ngxAutocomPlace
            (selectedPlace)="placeChangedStart($event)"
            formControlName="start"
          >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-icon
            id="myAdress"
            src="/assets/icon/custom-ion-icons/md-gps-house.svg"
            slot="end"
            (click)="applyHomeAdressDest()"
          ></ion-icon>
          <ion-label position="floating"
            >{{'Destination' | translate}}</ion-label
          >
          <ionic-selectable
            #inputDestination
            [(ngModel)]="selected_page"
            [items]="pagesSelect"
            itemValueField="address"
            itemTextField="name"
            [isMultiple]="false"
            [canSearch]="true"
            headerColor="secondary"
            (onSearchFail)="onSearchFail($event)"
            formControlName="destination"
            searchPlaceholder="{{'searchAddress'|translate}}"
            groupValueField="category_label"
            groupTextField="category_label"
          >
            <ng-template
              ionicSelectableItemTemplate
              let-selected_page="item"
              let-isPageSelected="isItemSelected"
            >
              {{selected_page.name}} &nbsp;&nbsp;
              <img
                slot="end"
                [ngClass]="selected_page.category!=='poi'?'fav-icon':'poi-image'"
                [src]="selected_page.image"
              />
            </ng-template>
            <ng-template ionicSelectableGroupTemplate let-group="group">
              <p style="font-size: 1rem">{{group.text}}</p>
            </ng-template>

            <ng-template ionicSelectableSearchFailTemplate>
              <div *ngIf="otherResults.length===0">
                {{'NoResult'|translate}}
              </div>
              <ion-list *ngIf="otherResults.length!==0">
                <ion-radio-group
                  allow-empty-selection="true"
                  (ionChange)="radioGroupChange($event)"
                >
                  <ion-item *ngFor="let place of otherResults">
                    <ion-label>{{place.address}}</ion-label>
                    <ion-radio
                      slot="start"
                      value="{{place.address}}"
                    ></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            </ng-template>
            <ng-template ionicSelectableCloseButtonTemplate>
              <ion-icon name="close-circle"></ion-icon>
            </ng-template>
          </ionic-selectable>
        </ion-item>
        <ion-item id="datetime">
          <ion-select
            interface="popover"
            value="departure"
            (ionChange)="timeModeChanged()"
          >
            <ion-select-option value="departure"
              >{{'Abfahrt'|translate}}</ion-select-option
            >
            <ion-select-option value="arrival"
              >{{'Ankunft'|translate}}</ion-select-option
            >
          </ion-select>
          <ion-label></ion-label>
          <ion-datetime
            [(ngModel)]="myDate"
            [ngModelOptions]="{standalone: true}"
            (ionChange)="dateChanged()"
            cancel-text="X"
            display-format="DD
            MMM, HH:mm"
            picker-format="DD MMM, HH:mm"
            done-text="✓"
            mode="ios"
          ></ion-datetime>
        </ion-item>

        <ion-button
          expand="full"
          type="submit"
          [disabled]="directionForm.invalid"
        >
          {{'Get Direction' | translate}}
        </ion-button>
      </form>
    </div> -->

  <!-- <ion-button expand="full" color="primary" (click)="toggleForm()">
      <ion-icon
        *ngIf="isDisplay"
        size="large"
        name="chevron-up-outline"
      ></ion-icon>
      <ion-icon
        *ngIf="!isDisplay"
        size="large"
        name="chevron-down-outline"
      ></ion-icon>
    </ion-button>
  </div> -->

  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button size="small" color="secondary">
      <ion-icon name="filter-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button (click)="toggleKML('Navigation')" [color]="mobilityColor">
        <ion-icon
          src="../../../assets/icon/custom-ion-icons/mobility.svg"
        ></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="toggleKML('Freizeit')" [color]="freetimeColor">
        <ion-icon [name]="freetime"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="toggleKML('Else')" [color]="integrationColor">
        <ion-icon
          src="../../../assets/icon/custom-ion-icons/integration.svg"
        ></ion-icon>
      </ion-fab-button>
      <ion-fab-button
        (click)="toggleKML('Information')"
        [color]="behoerdeColor"
      >
        <ion-icon [name]="behoerde"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="toggleKML('Mitfahrbaenke')" color="mitfahrbankHintergrund">
        <ion-icon color="mitfahrbank" name="thumbs-up"></ion-icon>
      </ion-fab-button>
      <!--<ion-fab-button>
        <ion-icon (click)="toggleKML('mobility')" name="bus-outline"></ion-icon>
      </ion-fab-button>-->
    </ion-fab-list>
  </ion-fab>
  <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button
      size="small"
      (click)="goToCurrentPosition()"
      color="secondary"
    >
      <ion-icon name="locate"></ion-icon>
    </ion-fab-button>
    <ion-fab-button
      size="small"
      (click)="openDirectionForm()"
      color="secondary"
    >
      <ion-icon name="navigate-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <google-map [mapOptions]="mapOptions"></google-map>
</ion-content>

<!-- Direction Panel -->
<lib-ionic-pullup
  [(state)]="footerState"
  [hidden]="!showDirectionPanel"
  [toolbarTopMargin]="toolbarTopMargin"
  [minBottomVisible]="minBottomVisible"
>
  <ion-toolbar
    class="toolbar"
    color="light"
    (click)="toggleFooter()"
    #ionDragFooter
  >
    <div class="handle">
      <div class="bar"></div>
    </div>
  </ion-toolbar>
  <ion-content>
    <ion-card>
      <ion-card-content>
        <ion-row>
          <ion-col [hidden]="!isTransit"
            ><ion-button
              id="ticket"
              [href]="linkToAgency"
              [hidden]="!isTransit"
              target="_blank"
              expand="block"
            >
              <!-- {{'Buy Tickets' | translate}} -->
              <ion-icon name="ticket-outline"></ion-icon> </ion-button
          ></ion-col>
          <ion-col>
            <ion-button expand="block" id="aboveticket" (click)="displayVideo()"
              ><ion-icon
                id="video"
                size="large"
                style="
                  filter: invert(100%) sepia(100%) saturate(0%)
                    hue-rotate(147deg) brightness(102%) contrast(101%);
                "
                src="../../../assets/icon/custom-ion-icons/video-icon.svg"
              ></ion-icon
            ></ion-button>
          </ion-col>
          <!-- </ion-row>
        <ion-row> -->
          <ion-col *ngIf="userRole==='NORMALUSER'"
            ><ion-button
              color="secondary"
              expand="block"
              (click)="presentChatModal()"
              [disabled]="disableChatButton"
            >
              <ion-icon name="chatbubbles-outline"></ion-icon> </ion-button
          ></ion-col>
          <ion-col>
            <ion-button
              expand="block"
              color="secondary"
              id="aboveticket"
              (click)="addFavorite()"
              [disabled]="disableButton"
              ><ion-icon name="star"></ion-icon
            ></ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <div class="videoplayer" [hidden]="!isVideo">
            <vg-player (onPlayerReady)="onPlayerReady($event)">
              <video
                class="videoplayer"
                [vgMedia]="media"
                #media
                id="singleVideo"
                preload="auto"
                controls
                crossorigin
              >
                <source [src]="urlVideo" type="video/mp4" />
              </video>
            </vg-player>
          </div>
        </ion-row>
        <div #directionsPanel></div>
      </ion-card-content>
    </ion-card>
  </ion-content>
</lib-ionic-pullup>
