@import "theme/mixins/ion-color";

// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-broad-margin);
  --page-background: var(--app-background-shade);

  --page-deal-code-height: 30px;
  --page-countdown-gutter: 3px;

  --page-distant-end-color: #ff0062;

  --page-deal-border-color: #32527C;

  --page-color: #ff0062;

  // Add custom colors to use with [color] property
  @include ion-color('post') {
    --ion-color-post: #55555550;
  }
}
.post-info {
    font-size: 0.9em;
}
.flag-image {
    display: inline-block;
    height: 15px;
    width: 30px;
  }
.name {
    font-weight: 600;
    font-size: 1.2em;
}
.deliner{
    margin-bottom: 3px;
}
 
.handle {
    padding-left: 4px;
    color: var(--ion-color-primary);
}
 
.wrapper {
    border-bottom: 1px solid var(--ion-color-light);
}
.color {
    color: var(--ion-color-danger-tint);
}
 
.highlight {
    color: var(--ion-color-primary);
}
.numberOfComments{
    border-radius: -10px;
    margin-bottom: auto;
    margin-left: -7px;
    margin-top: 2px;
    font-size: 0.8em;
}
 
.preview-img {
    border: 1px solid var(--ion-color-light);
    border-radius: 10px;
}
ion-icon{
    font-size: 1.5em;
}
.no-margin{
  margin: -2.5px;
  font-size: 16px;
}
.post-content{
    margin: 0px;
    margin-bottom: 5px;
    color: var(--ion-color-dark-tint);
    font-size: 16px;
}