<ion-card *ngIf="date > today">
  <ion-row class="wrapper">
    <ion-col size="2">
      <ion-avatar>
        <ion-img [src]="post.authorAvatar"></ion-img>
      </ion-avatar>
    </ion-col>
    <ion-col size="10">
      <ion-row class="post-info">
        <ion-col size="9">
          <span class="name">{{ post.author }}</span>
          <span class="handle">
            - &nbsp;<ion-icon class="no-margin" name="create-outline"
              >&nbsp;</ion-icon
            >
            {{ post.createdAt.toMillis() | date: "dd.MM.yyyy" }}</span
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="10">
          <h4 class="post-content" [innerHtml]="post.content"></h4>
        </ion-col>
        <ion-col size="2" *ngIf="post.userOfSeatsTaken.includes(uid)">
          <ion-icon
            color="primary"
            size="medium"
            name="person-outline"
          ></ion-icon>
          <ion-icon
            color="success"
            size="medium"
            class="post-content"
            name="checkmark-circle-outline"
          ></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-label class="deliner"
          ><ion-icon class="no-margin" name="time-outline"></ion-icon> &nbsp;
          {{ post.departureTime.substring(11) }},
          {{ post.departureTime.substring(8, 10) }}.{{
            post.departureTime.substring(5, 7)
          }}.{{ post.departureTime.substring(0, 4) }}</ion-label
        >
      </ion-row>
      <ion-row>
        <ion-label class="deliner"
          ><ion-icon class="no-margin" name="location-outline"></ion-icon>
          &nbsp; {{ post.start }}</ion-label
        >
      </ion-row>
      <ion-row>
        <ion-label class="deliner"
          ><ion-icon class="no-margin" name="flag-outline"></ion-icon> &nbsp;
          {{ post.destination }}</ion-label
        >
      </ion-row>
      <ion-row class="deliner">
        <ion-icon
          class="no-margin"
          src="/assets/icon/custom-ion-icons/language.svg"
        ></ion-icon>
        &nbsp; &nbsp;
        <div *ngFor="let languages of post.language">
          <ion-img [src]="languages.flag" class="flag-image"></ion-img>&nbsp;
        </div>
      </ion-row>
      <ion-row>
        <ion-label
          *ngIf="post.seatsTaken == post.numberOfSeats"
          color="secondary"
          class="deliner"
          ><ion-icon class="no-margin" name="people-outline"></ion-icon> &nbsp;
          {{ post.seatsTaken }} / {{ post.numberOfSeats }}</ion-label
        >
      </ion-row>
      <ion-row>
        <ion-label *ngIf="post.numberOfSeats > post.seatsTaken" class="deliner"
          ><ion-icon class="no-margin" name="people-outline"></ion-icon> &nbsp;
          {{ post.seatsTaken }} / {{ post.numberOfSeats }}</ion-label
        >
      </ion-row>

      <ion-row class="ion-justify-content-start">
        <ion-col size="3">
          <ion-button
            (click)="renderComments(post.postId)"
            fill="clear"
            color="primary"
          >
            <ion-icon name="chatbubble-outline" slot="start"></ion-icon>
            <span class="numberOfComments">{{ post.numberOfComments }}</span>
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button
            (click)="likePost()"
            fill="clear"
            [color]="post.liked ? 'secondary' : 'primary'"
          >
            <ion-icon
              [name]="post.liked ? 'heart' : 'heart-outline'"
              slot="start"
            ></ion-icon>
            {{ post.likes }}
          </ion-button>
        </ion-col>
        <ion-col *ngIf="post.authorId != uid" size="3">
          <ion-button
            *ngIf="
              post.numberOfSeats > post.seatsTaken &&
              !post.userOfSeatsTaken.includes(uid)
            "
            (click)="participateInRide()"
            color="primary"
            fill="solid"
            shape="round"
          >
            <ion-icon color="success" name="person-add-outline"></ion-icon>
          </ion-button>
          <ion-button
            *ngIf="
              post.numberOfSeats == post.seatsTaken &&
              post.userOfSeatsTaken.includes(uid)
            "
            (click)="leaveFromRide()"
            color="primary"
            fill="solid"
            shape="round"
          >
            <ion-icon color="secondary" name="person-remove-outline"></ion-icon>
          </ion-button>
          <ion-button
            *ngIf="
              post.numberOfSeats > post.seatsTaken &&
              post.userOfSeatsTaken.includes(uid)
            "
            (click)="leaveFromRide()"
            color="primary"
            fill="solid"
            shape="round"
          >
            <ion-icon color="secondary" name="person-remove-outline"></ion-icon>
          </ion-button>
          <ion-button
            *ngIf="
              post.numberOfSeats == post.seatsTaken &&
              !post.userOfSeatsTaken.includes(uid)
            "
            (click)="participateInRide()"
            color="primary"
            fill="solid"
            shape="round"
            disabled="true"
          >
            <ion-icon color="success" name="person-add-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <!-- edit -->
        <ion-col *ngIf="post.authorId == uid" size="3">
          <ion-button
            fill="clear"
            color="primary"
            (click)="presentPostEditModal()"
          >
            <ion-icon name="pencil-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <!-- delete -->
        <ion-col *ngIf="post.authorId == uid" size="3">
          <ion-button
            fill="clear"
            color="primary"
            (click)="presentAlertConfirm()"
          >
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-card>

<ion-card *ngIf="today > date" color="post">
  <ion-row class="wrapper">
    <ion-col size="2">
      <ion-avatar>
        <ion-img [src]="post.authorAvatar"></ion-img>
      </ion-avatar>
    </ion-col>
    <ion-col size="10">
      <ion-row class="post-info">
        <ion-col size="9">
          <span class="name">{{ post.author }}</span>
          <span class="handle">
            - &nbsp;<ion-icon class="no-margin" name="create-outline"
              >&nbsp;</ion-icon
            >
            {{ post.createdAt.toMillis() | date: "dd.MM.yyyy" }}</span
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <h4 class="post-content" [innerHtml]="post.content"></h4>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-label class="deliner"
          ><ion-icon class="no-margin" name="time-outline"></ion-icon> &nbsp;
          {{ post.departureTime.substring(11) }},
          {{ post.departureTime.substring(8, 10) }}.{{
            post.departureTime.substring(5, 7)
          }}.{{ post.departureTime.substring(0, 4) }}</ion-label
        >
      </ion-row>
      <ion-row>
        <ion-label class="deliner"
          ><ion-icon class="no-margin" name="location-outline"></ion-icon>
          &nbsp; {{ post.start }}</ion-label
        >
      </ion-row>
      <ion-row>
        <ion-label class="deliner"
          ><ion-icon class="no-margin" name="flag-outline"></ion-icon> &nbsp;
          {{ post.destination }}</ion-label
        >
      </ion-row>
      <ion-row class="deliner">
        <ion-icon
          class="no-margin"
          src="/assets/icon/custom-ion-icons/language.svg"
        ></ion-icon>
        &nbsp; &nbsp;
        <div *ngFor="let languages of post.language">
          <ion-img [src]="languages.flag" class="flag-image"></ion-img>&nbsp;
        </div>
      </ion-row>
      <ion-row>
        <ion-label
          *ngIf="post.seatsTaken == post.numberOfSeats"
          color="secondary"
          class="deliner"
          ><ion-icon class="no-margin" name="people-outline"></ion-icon> &nbsp;
          {{ post.seatsTaken }} / {{ post.numberOfSeats }}</ion-label
        >
      </ion-row>
      <ion-row>
        <ion-label *ngIf="post.numberOfSeats > post.seatsTaken" class="deliner"
          ><ion-icon class="no-margin" name="people-outline"></ion-icon> &nbsp;
          {{ post.seatsTaken }} / {{ post.numberOfSeats }}</ion-label
        >
      </ion-row>
      <ion-row class="ion-justify-content-start">
        <ion-col size="3">
          <ion-button
            (click)="renderComments(post.postId)"
            fill="clear"
            color="primary"
          >
            <ion-icon name="chatbubble-outline" slot="start"></ion-icon>
            <span class="numberOfComments">{{ post.numberOfComments }}</span>
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button
            disabled="true"
            fill="clear"
            [color]="post.liked ? 'secondary' : 'primary'"
          >
            <ion-icon name="heart-outline" slot="start"></ion-icon>
            {{ post.likes }}
          </ion-button>
        </ion-col>
        <ion-col *ngIf="post.authorId != uid" size="3">
          <ion-button
            *ngIf="
              post.numberOfSeats > post.seatsTaken &&
              !post.userOfSeatsTaken.includes(uid)
            "
            (click)="participateInRide()"
            color="primary"
            fill="solid"
            shape="round"
            disabled="true"
          >
            <ion-icon color="success" name="person-add-outline"></ion-icon>
          </ion-button>
          <ion-button
            *ngIf="
              post.numberOfSeats == post.seatsTaken &&
              post.userOfSeatsTaken.includes(uid)
            "
            (click)="leaveFromRide()"
            color="primary"
            fill="solid"
            shape="round"
            disabled="true"
          >
            <ion-icon color="secondary" name="person-remove-outline"></ion-icon>
          </ion-button>
          <ion-button
            *ngIf="
              post.numberOfSeats > post.seatsTaken &&
              post.userOfSeatsTaken.includes(uid)
            "
            (click)="leaveFromRide()"
            color="primary"
            fill="solid"
            shape="round"
            disabled="true"
          >
            <ion-icon color="secondary" name="person-remove-outline"></ion-icon>
          </ion-button>
          <ion-button
            *ngIf="
              post.numberOfSeats == post.seatsTaken &&
              !post.userOfSeatsTaken.includes(uid)
            "
            (click)="participateInRide()"
            color="primary"
            fill="solid"
            shape="round"
            disabled="true"
          >
            <ion-icon color="success" name="person-add-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <!-- edit -->
        <ion-col *ngIf="post.authorId == uid" size="3">
          <ion-button
            fill="clear"
            color="primary"
            (click)="presentPostEditModal()"
          >
            <ion-icon name="pencil-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <!-- delete -->
        <ion-col *ngIf="post.authorId == uid">
          <ion-button
            fill="clear"
            color="primary"
            (click)="presentAlertConfirm()"
          >
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-card>
