@import "theme/mixins/scrollbars";

:host {
  --page-margin: var(--app-narrow-margin);
}
.notifications-content {
  ion-item-divider {
    --background: var(--ion-color-light);
    --padding-start: var(--page-margin);
  }

  .notification-item {
    --padding-start: 0px;
    --inner-padding-end: 0px;

    padding: var(--page-margin);
    color: var(--ion-color-medium);
    box-shadow: inset 0 8px 2px -9px var(--ion-color-darkest);

    .notification-item-wrapper {
      --ion-grid-column-padding: 0px;

      width: 100%;
      align-items: center;
    }
    .fade_rule {
      height: 2px;
      background-color: #e6e6e6;
      width: 160em;
      margin: 0 auto;
      background-image: linear-gradient(left, white 2%, #e6e6e6 50%, white 98%);
      background-image: -o-linear-gradient(
        left,
        white 2%,
        #e6e6e6 50%,
        white 98%
      );
      background-image: -moz-linear-gradient(
        left,
        white 2%,
        #e6e6e6 50%,
        white 98%
      );

      background-image: -webkit-linear-gradient(
        left,
        white 2%,
        #e6e6e6 50%,
        white 98%
      );
      background-image: -ms-linear-gradient(
        left,
        white 2%,
        #e6e6e6 50%,
        white 98%
      );
      background-image: -webkit-gradient(
        linear,
        left bottom,
        right bottom,
        color-stop(0.02, white),
        color-stop(0.5, #ff0062),
        color-stop(0.98, white)
      );
    }
    .details-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-left: var(--page-margin);

      .details-name {
        margin-top: 0px;
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.2px;
        color: var(--ion-color-secondary);
      }

      .details-description {
        font-size: 12px;
        margin: 0px;
      }
    }

    .date-wrapper {
      align-self: flex-start;

      .notification-date {
        margin: 0px;
        font-size: 12px;
        text-align: end;
      }
    }
  }
  .icons {
    font-size: 2rem;
  }
}
.content {
  margin: 0 5vw;
}

.content-text {
  text-align: justify;
}
#address {
  text-align: left;
}
img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.slide {
  margin-bottom: 2rem;
}
.ion-text-center {
  display: flex;
  justify-content: center;
}
.border {
  --border-radius: 10px;
  --border-color: white;
  --border-width: 4px;
  --border-style: solid;
}

.description-container {
  .description-title {
    display: inline;
    margin-right: 20px;
  }
  .toggle-icon {
    position: relative;
    top: 5px;
    font-size: 1.5rem;
  }
}
ion-card {
  height: 20vh;
  position: relative;
  text-align: center;
  .card-title {
    position: absolute;
    top: 36%;
    font-size: 1.5em;
    width: 100%;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }
  .card-button {
    position: absolute;
    top: 36%;
    font-size: 1.5em;
    width: 100%;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }

  .card-subtitle {
    font-size: 1em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: rgb(0, 0, 0);
  }
  .devicer {
    width: 20em;
    display: block;
    height: 5px;
    background-color: #4b4b4d;
    margin: 60px auto 0;
  }
}
.welcome-text {
  text-align: center;
}
#mobility {
  --border-color: var(--ion-color-success);
  --border-width: 1px;
  --border-style: solid;
}
#integration {
  --border-color: var(--ion-color-danger);
  --border-width: 1px;
  --border-style: solid;
}
#freetime {
  --border-color: var(--ion-color-tertiary);
  --border-width: 1px;
  --border-style: solid;
}
#behoerde {
  --border-color: var(--ion-color-warning);
  --border-width: 1px;
  --border-style: solid;
}
