<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> {{'Notifications' | translate}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="notifications-content">
  <ion-card (click)="sendCardData(true)" *ngIf="hideMe">
    <img src="./assets/icon/poiMap.png" />
    <div class="card-title">Hier geht es zur POI Map.</div>
    <ion-button fill="outline" slot="end">View</ion-button>
  </ion-card>
  <ng-container *ngIf="notifications">
    <ion-item-group>
      <ion-item-divider sticky>
        <ion-label>{{'Today' | translate}}</ion-label>
      </ion-item-divider>
      <ion-item
        class="notification-item"
        lines="none"
        *ngFor="let notification of notifications.today"
      >
        <ion-row class="notification-item-wrapper">
          <ion-col size="2">
            <app-aspect-ratio [ratio]="{w: 1, h: 1}">
              <app-image-shell
                class="notification-image"
                [src]="notification.image"
                [alt]="'user image'"
              ></app-image-shell>
            </app-aspect-ratio>
          </ion-col>
          <ion-col class="details-wrapper">
            <h2 class="details-name">{{ notification.name }}</h2>
            <p class="details-description">{{ notification.message }}</p>
          </ion-col>
          <ion-col size="2" class="date-wrapper">
            <ion-row>
              <h3 class="notification-date">
                {{ notification.date }}
              </h3></ion-row
            >
            <ion-row
              ><ion-button
                class="more-btn"
                size="small"
                fill="solid"
                color="danger"
                (click)="sendData(notification.message)"
              >
                <ion-icon name="locate-outline"></ion-icon> </ion-button
            ></ion-row>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider sticky>
        <ion-label>{{'Yesterday' | translate}}</ion-label>
      </ion-item-divider>
      <ion-item
        class="notification-item"
        lines="none"
        *ngFor="let notification of notifications.yesterday"
      >
        <ion-row class="notification-item-wrapper">
          <ion-col size="2">
            <app-aspect-ratio [ratio]="{w: 1, h: 1}">
              <app-image-shell
                class="notification-image"
                [src]="notification.image"
                [alt]="'user image'"
              ></app-image-shell>
            </app-aspect-ratio>
          </ion-col>
          <ion-col class="details-wrapper">
            <h2 class="details-name">{{ notification.name }}</h2>
            <p class="details-description">{{ notification.message }}</p>
          </ion-col>
          <ion-col size="2" class="date-wrapper">
            <ion-row>
              <h3 class="notification-date">
                {{ notification.date }}
              </h3></ion-row
            >
            <ion-row
              ><ion-button
                class="more-btn"
                size="small"
                fill="solid"
                color="danger"
                (click)="sendData(notification.adresse)"
              >
                <ion-icon name="locate-outline"></ion-icon> </ion-button
            ></ion-row>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-item-group>
  </ng-container>
</ion-content>
