<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>**Nahverkehrsmittel VSN</ion-title>
  <div style="float: right; font-size: 40px; padding-right: 10px; display: inline-flex">
    <ion-icon (click)="dismissModal()" name="close-circle-outline"></ion-icon>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="videoplayer">
    <vg-player (onPlayerReady)="onPlayerReady($event)">
      <video class="videoplayer" [vgMedia]="media" #media id="singleVideo" preload="auto" controls crossorigin>
        <source [src]="urlVideo" type="video/mp4">
      </video>
    </vg-player>
  </div>
</ion-content>
