<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon size="large" name="close-circle-outline"></ion-icon
      ></ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <!-- click to save post -->
      <ion-button [disabled]="!postForm.valid" (click)="savePost()">
        <ion-icon size="large" name="save-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
    <ion-title>{{'MitfahrgelegenheitErstellen'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="postForm">
    <ion-item>
      <ion-label position="floating">
        <ion-icon size="large" name="create-outline"></ion-icon>
      </ion-label>
      <ion-input
        id="content"
        type="text"
        formControlName="content"
        placeholder="{{'Inhalt'|translate}}"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        <ion-icon name="location-outline" size="large"></ion-icon>
      </ion-label>
      <ion-input
        ngxAutocomPlace
        (selectedPlace)="placeChangedStart($event)"
        id="start"
        type="text"
        formControlName="start"
        placeholder="{{'StartadresseEingeben'|translate}}"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"
        ><ion-icon size="large" name="flag-outline"></ion-icon>
      </ion-label>
      <ion-input
        ngxAutocomPlace
        (selectedPlace)="placeChangedDestination($event)"
        id="destination"
        type="text"
        formControlName="destination"
        placeholder="{{'ZieladresseEingeben'|translate}}"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"
        ><ion-icon name="time-outline" size="large"></ion-icon>
      </ion-label>
      <ion-input
        type="datetime-local"
        formControlName="departureTime"
        placeholder="{{'DatumUndUhrzeit'|translate}}"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"
        ><ion-icon
          size="large"
          src="/assets/icon/custom-ion-icons/language.svg"
        ></ion-icon>
      </ion-label>

      <ionic-selectable
        #langChoser
        closeButtonText="{{'CANCEL'|translate}}"
        confirmButtonText="{{'Festlegen'|translate}}"
        clearButtonText="{{'Löschen'|translate}}"
        [isMultiple]="true"
        [(ngModel)]="chosenLang"
        [items]="available_languages"
        itemValueField="name"
        itemTextField="name"
        headerColor="secondary"
        formControlName="language"
        [canClear]="true"
      >
        <ng-template
          ionicSelectableItemTemplate
          let-chosenLang="item"
          let-isLangSelected="isItemSelected"
        >
          {{chosenLang.name}}&nbsp;&nbsp;
          <img slot="end" class="poi-image" [src]="chosenLang.flag" />
        </ng-template>
        <ng-template ionicSelectableValueTemplate let-chosenLang="value">
          <div
            class="ionic-selectable-value-item"
            *ngFor="let langs of chosenLang"
          >
            {{langs.name}}
            <img class="poi-image" [src]="langs.flag" />
          </div>
        </ng-template>
      </ionic-selectable>
    </ion-item>

    <ion-item>
      <ion-label position="floating"
        ><ion-icon size="large" name="people-outline"></ion-icon
      ></ion-label>
      <ion-input
        id="numberOfSeats"
        type="number"
        formControlName="numberOfSeats"
        placeholder="{{'Teilnehmeranzahl'|translate}}"
      ></ion-input>
    </ion-item>
    <!-- <p>{{postForm.value.title}}</p> -->
  </form>
  <ion-button
    expand="block"
    class="custom-button"
    color="secondary"
    [disabled]="!postForm.valid"
    (click)="savePost()"
    ><ion-icon size="large" name="save-outline"></ion-icon
  ></ion-button>
</ion-content>
