.no-margin{
  margin: -2.5px;
  font-size: 16px;
}
.poi-image {
  display: inline-block;
  max-width: 10%;
  height: auto;
  width: auto\9; /* ie8 */
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.custom-button{
  vertical-align: middle;
  justify-content: middle;
  margin-top: 20px;
}