<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button backButton
        ><ion-icon name="arrow-back-outline" size="large"></ion-icon
      ></ion-button>
    </ion-buttons>
    <ion-title>Tickets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div>
      <h2 class="page-name"></h2>
    </div>
    <div>
      <!-- ion-slide here -->
      <ion-slides pager="true">
        <ion-slide>
          <div class="slide">
            <img src="../../../assets/tickets/Einzelkarte.jpg" />
            <ul>
              <li>{{"Einzelkarte1" | translate}}</li>
              <li>{{"Einzelkarte2" | translate}}</li>
              <li>{{"Einzelkarte3" | translate}}</li>
              <li>{{"Einzelkarte4" | translate}}</li>
              <br />
              <b>{{"Einzelkarte5" | translate}}</b>
            </ul>
            <br />
          </div>
        </ion-slide>
        <ion-slide>
          <div class="slide">
            <img src="../../../assets/tickets/EinzelkarteKind.jpg" />
            <ul class="no-bullets">
              <li>{{"EinzelkarteKind1" | translate}}</li>
              <li>{{"EinzelkarteKind2" | translate}}</li>
              <li>{{"EinzelkarteKind3" | translate}}</li>
              <li>{{"EinzelkarteKind4" | translate}}</li>
              <br />
              <b>{{"EinzelkarteKind5" | translate}}</b>
            </ul>
            <br />
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            <img src="../../../assets/tickets/Tageskarte1Person.jpg" />
            <ul>
              <li>{{"Tageskarte1" | translate}}</li>
              <br />
              <b>{{"Tageskarte2" | translate}}</b>
            </ul>
            <br />
          </div>
        </ion-slide>
        <ion-slide>
          <div class="slide">
            <img src="../../../assets/tickets/Tageskarte4Personen.jpg" />
            <ul>
              <li>{{"Tageskarte4P1" | translate}}</li>
              <br />
              <b>{{"Tageskarte4P2" | translate}}</b>
            </ul>
            <br />
          </div>
        </ion-slide>
        <ion-slide>
          <div class="slide">
            <img src="../../../assets/tickets/Viererkarte.jpg" />
            <ul>
              <li>{{"Viererkarte1" | translate}}</li>
              <li>{{"Viererkarte2" | translate}}</li>
              <li>{{"Viererkarte3" | translate}}</li>
              <li>{{"Viererkarte4" | translate}}</li>
              <br />
              <b>{{"Viererkarte5" | translate}}</b>
            </ul>
            <br />
          </div>
        </ion-slide>
        <ion-slide>
          <div class="slide">
            <img src="../../../assets/tickets/Niedersachsen-Ticket.jpg" />
            <ul>
              <li>{{"NDSTicket1" | translate}}</li>
              <li>{{"NDSTicket2" | translate}}</li>
              <li>{{"NDSTicket3" | translate}}</li>
              <br />
              <!--<li>jeweils bis 3 Uhr des Folgetages bzw. in den Zügen, die als „Nachtzug“ gekennzeichnet sind</li>
              <li>Für alle Nahverkehrszüge (RE, RB, S und RS) in Niedersachsen, Bremen, Hamburg und bis nach Hengelo (NL)</li>
              <li>Gilt nicht für Fernverkehrszüge (ICE, IC/EC), einzige Ausnahme für Fahrten im IC zwischen Bremen Hbf-Norddeich Mole/Emden Außenhafen</li>
              <li>Für Fahrten in Bussen, Straßen- und U-Bahnen in ganz Niedersachsen, in Bremen und Hamburg (außer Schnellbusse im HVV und dem Tidebus)</li>-->
              <b
                >{{"NDSTicket4" | translate}} <br />
                {{"NDSTicket5" | translate}}</b
              >
            </ul>
            <br />
          </div>
        </ion-slide>
      </ion-slides>
      <ion-button color="secondary" expand="block" (click)="presentModalVSN()"
        >**VSN &nbsp; <ion-icon name="bus-outline"></ion-icon
      ></ion-button>
      <ion-button color="secondary" expand="block" (click)="redirect()"
        ><ion-icon name="calculator"></ion-icon>
        <ion-icon name="caret-forward-outline"></ion-icon>
        <ion-icon name="ticket-outline"></ion-icon>
      </ion-button>

      <ion-button color="secondary" expand="block" (click)="displayVideo()"
        ><ion-icon
          src="/assets/icon/custom-ion-icons/video-icon.svg"
          size="large"
          style="
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(147deg)
              brightness(102%) contrast(101%);
          "
        ></ion-icon>
      </ion-button>
      <div class="videoplayer" [hidden]="!isVideo">
        <vg-player (onPlayerReady)="onPlayerReady($event)">
          <video
            class="videoplayer"
            [vgMedia]="media"
            #media
            id="singleVideo"
            preload="auto"
            controls
            crossorigin
          >
            <source [src]="urlVideo" type="video/mp4" />
          </video>
        </vg-player>
      </div>
    </div>

    <div></div>
    <!-- <div>{{content}}</div> -->
    <!-- button, ion-row, ion-slide for tickets -->
  </div>
</ion-content>
